@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body{
  font-family: 'Nunito', sans-serif !important;
  /* font-family: 'Roboto', sans-serif; */
}
.wrapper{
  width: 100%;
  float: left;
}

.wrap_content{
  width: 1024px;
  margin: auto;
  height: 100vh;
  position: relative;
}
.p-5{
  position: relative;
  z-index: 1;
}
.wrap_content h1{
  margin: 15px 0 50px;
  font-size: 50px;
}

.wrap_content .form-control{
  font-weight: 400 !important;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  height: calc(3.25rem + 2px);
}

.btn001{
  margin: 0;
  display: block;
  width: 100%;
  height: calc(4rem + 2px);
  font-weight: 400 !important;
  font-family: 'Nunito', sans-serif;
  font-size: 20px!important;
  background: #000!important;
  color: #fff!important;
}

.btn002{
  margin: 0;
  display: inline-block;
  width: auto;
  height:60px;
  font-weight: 600 !important;
  font-family: 'Nunito', sans-serif;
  font-size: 25px !important;
  background: #201f1f !important;
  color: #fff !important;
  line-height: 35px;
  text-transform: uppercase;
  padding: 13px 40px;
  border-radius: 100px;
  letter-spacing: 1px;
}
.btn003{
  margin: 0;
  display: inline-block;
  width: auto;
  height:60px;
  font-weight: 600 !important;
  font-family: 'Nunito', sans-serif;
  font-size: 25px !important;
  background: #e91e63 !important;
  color: #fff !important;
  line-height: 35px;
  text-transform: uppercase;
  padding: 13px 40px;
  border-radius: 100px;
  letter-spacing: 1px;
}



.md-form label{
  top: -25px !important;
  font-weight: 400 !important;
  font-family: 'Nunito', sans-serif;
  font-size: 18px!important;
  text-transform: capitalize;
}
.textforgetpassword{
  font-weight: 400 !important;
  font-family: 'Nunito', sans-serif;
  font-size: 18px!important;
  color: #000;
  float: right;
  margin-bottom: 50px;
  margin-top: 20px;
}
.bgBottom{
  background: url("../images/bottom_bg.png") center bottom;
  height: 230px;
  width: 100%;
  float: left;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.bgBottomSection{
  position: relative;
}
.bgBottom p{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 28px;
  color: #fff;
  font-weight: 300 !important;
  font-family: 'Nunito', sans-serif;
}
.bgBottom p a{
  color: #000;
}

.wrap_content .btn001{
  margin: 40px 0 !important;
}
.bodycontent{
  background: #fdd835;
  float: left;
  width: 100%;
  padding: 30px 0 0;
  position: relative;
}
.profileimg{
   width: 100px;
   height:100px;
   display: inline-block;
   border-radius: 100%;
   overflow: hidden;
   float: left;
   margin-right: 15px;
}
.profileimg img{
  width: 100px;
}
.headingDiv{
  width: 100%;
  float: left;
  text-align: center;
  padding: 0;
  color: #fff;
}
.headingDiv h2{
  font-size: 22px;
  font-weight: 700;
}
.iconsDiv{
  position: absolute;
  right: 20px;
  top: 24px;
  font-size: 20px;
  color: #fff;
}
.rowBox{
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 180px;
  min-height: 500px;
}
.profileGrid{
  width: 47%;
  float: none;
  text-align: center;
  background: #e91e63;
  padding: 50px 20px;
  border-radius: 12px;
  margin: 4px;
  display: inline-block;
}
.profileGrid .profileimg {
    width: 120px;
    height: 120px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    float: none;
    margin-right: 0;
    border: 4px solid #fff;
}
.profileGrid .profileimg  img{
  width: 120px;
}
.profileGrid h3{
  color: #fff;
  font-size: 30px;
}
.tag_section {
    color: #fff;
    font-weight: 600;
    display: block;
    margin: 12px 0;
}
.btn_select{
  padding: 8px 31px;
  display: inline-block;
  background: #fff;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.secondlabel li a{
  background: #201F1F;;
  padding-left: 40px !important;
}

.innerHeadingContent{
  width: 100%;
  float: left;
  /* background: #304ffe; */
  background: #201f1f;
  padding: 25px;
}
.innerHeadingContent h1{
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
.innerbodycontent{
  background: #fdd835;
  float: left;
  width: 100%;
  padding: 30px 0 0;
  position: relative;
}

.sectionrowBox{
  width: 100%;
  float: left;
  text-align: center;
}
.section_Grid {
  width: 33%;
  float: none;
  text-align: center;
  background: #e91e63;
  padding: 50px 0px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  margin: 10px;
  display: inline-block;
  color: #fff;
}

.section_Grid h3{
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.section_selection{
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 14px;
  background: #fff;
  color: #2f2f2f;
  border-radius: 4px;
  margin: 10px;
  display: inline-block;
  width: auto;
  height: auto;
  line-height: initial;
}
.time_tag{
  display: block;
  font-size: 18px;
  font-weight: 600;
}
.time_tag i{
  margin-right: 4px;
}
.buttonContainer{
  margin-top: 20px;
}

.section_Grid2{
  width: 50%;
  float: none;
  text-align: center;
  /* background: #e91e63; */
  padding: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  margin: 12px 0;
  display: inline-block;
  color: #fff;
  text-align: left;
}
.section_Grid2 a{
  display: block;
  padding: 0;
  background: #fff !important;
  border-radius: 6px;
  color: #333 !important;
  text-transform: capitalize;
  letter-spacing: 0;
  line-height: 43px;
  box-shadow: 0px 5px 4px rgba(0,0,0,0.1);
}
.section_Grid2 a:hover{
  background: #e91e63 !important;
  color: #fff !important;
}


.icon_section{
  display: inline-block;
  background: #e91e63;
  height: 100%;
  padding: 9px 12px;
  text-align: center;
  margin-right: 10px;
  border-radius: 6px 0 0 6px;
}
.icon_section img{
  margin-top: -4px;
}





/* Responsive Design */


 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .bgBottom{
    margin-top: -34px;
  }
  .p-5 {
    padding: 1rem!important;
}
.md-form{
    margin-bottom: 1rem!important;
}
.wrap_content h1 {
    margin: 0px 0 20px;
    font-size: 38px;
}
  .wrap_content{
    width: 100%;
    margin: auto;
    height: auto;
  }
  .heightFullwraper{
    height: 100vh;
  }
  .bgBottom p{
    font-size: 18px;
  }
  .textforgetpassword{
    margin-bottom: 10px;
    margin-top: -10px;
    font-size: 16px!important;
  }
  .wrap_content .btn001 {
    margin: 0 0 !important;
    height: calc(2.5rem + 10px)!important;
    font-size: 17px!important;
}
.profileGrid{
    margin: 10px 0;
    width: 90%;
}

.section_Grid {
    width: 80%;
  }
  .section_Grid2 {
    width: 85%;
  }


 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .wrap_content{
    width: 100%;
    margin: auto;
  }
  .section_Grid {
      width: 70%;
    }
  .section_Grid2 {
    width: 75%;
  }

  }

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
  .wrap_content{
    width: 100%;
    margin: auto;
    height: auto;
  }
  .heightFullwraper{
    height: 100vh;
  }
  .section_Grid {
      width: 42%;
    }

 }
 @media (min-width: 768px) and (max-width: 799px) {
   .wrap_content{
     width: 100%;
     margin: auto;
     height: 100vh;
   }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {





 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
