/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Apr, 2019, 3:43:14 PM
    Author     : user
*/
body{
    position: relative;
}

.inst{
    color:#E91E63;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  
    transition: all 0.3s 1s ease-out;
}









/*.loader{
    width:100%;
    height:100%;
    position:fixed;
    background: rgba(0,0,0,1);
    z-index:9;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.loader_img_container{
    position:relative;
    top: 47%;
    left: 47%;
}
.loader_img{
    position:absolute;
    top:42%;
    left:46%;
}*/
#page-container{
    position:relative;
    z-index: 2;
}
#sidebar{
    background-color: #FDD835 !important;
    box-shadow: none !important;
}
.content-side-user{
    background-color: #000 !important;
}
.text-dual-primary-dark{
    color: #000 !important;
}
.img-avatar{
    border: 2px solid #fff !important;
}
.nav-main a {
    font-weight: 600;
    color: rgba(0, 0, 0, 1) !important;
}
.nav-main a > i{
    color: rgba(0, 0, 0, 1) !important;
}
.nav-main a.active, .nav-main a:focus, .nav-main a:hover {
    color: #E91E63 !important;
}
.nav-main a.active > i, .nav-main a:focus > i, .nav-main a:hover > i {
    color: #E91E63 !important;
}


.sbtnWrap {
    padding: 15px 0 0 0;
}

.block-header-default {
    background-color: #ffffff !important;
    position: relative;
}
.block-content.block-content-full{
    position: relative;
}
#clickbtn{
    position: relative;
}
#div_slideDown{
    position: relative;
    right: 0;
    top: -35px;
    width: 100%;
    height: 200px;
    background: #fff !important;
    z-index: 1;
    display: none; 
}
#div_slideDown .form-material > label{
    left: 5px;
}
#div_slideDown .form-row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.noDel_wrap {
    width: 25%;
    float: left;
    margin: 11px 33px;
}

.del_icon{
    float:right;
}

.contactNo{
    width:45%;
    float:left;
}

.popup_btn_wrap{
    width:100%;
    float:left;
    margin:20px 0 0 0;
    position:relative;
}
.popup_btn_wrap .open_pop{
    color: #fff;
}
.popWrap {
    width: 370px;
    position: absolute;
    bottom: 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: 0.5s ease-in-out;
    transform: scale(0);
    opacity: 0;
    transform-origin: bottom left;
}

.openPopWrap{
    transform:scale(1) !important;	
    bottom: 51px !important;
    opacity: 1 !important;
}

.popInn{
    width:100%;
    float:left;
    background:#fff;
    padding:20px 8px;
    text-align:center;
}
.popInn form span {
    width: 47%;
    float: left;
    text-align: left;
    margin: 0 10px 0 0px;
}
.popInn form span label {
    width: 100%;
    float: left;
    margin: 9px 0 2px 0;
    text-transform: capitalize;
    color: #000000;
    font-weight: 700;
}
.radio_wrp {
    width: 50%;
    float: left;
    text-align: left;
    font-weight: 700;
    color: #000;
    margin: 0;
}
.radio_wrp input[type="radio"] {
    width: auto;
    margin: 3px 0 0 0;
}
.usr{
    padding: 4px 11px;
    background: #fff;
    width: 100%;
    float: left;
}
.popInn input[type="submit"] {
    width: 100%;
    float: left;
    margin: 11px 0 0 0;
}
.passwordType {
    width: 47%;
    float: left;
}
.passwordType p {
    width: 100%;
    float: left;
    margin: 9px 0 4px 0;
    text-align: left;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
}
.custom-block{
    width:33% !important;
    float: left !important;
    padding: 10px !important;
}
.already_acc{
    float:left;
    margin-top: 10px;
}
.manu_chk{
    float: left;
    margin-top: 88px;
    margin-left: 10px;
    font-weight: bold;
}
.license{
    width: 183px !important;
    display: inline !important;
}
.license_font{
    font-size: 1.857143rem !important;
    font-weight: 600 !important;
}
.hover_rewrite{
    color:#fff !important;
}
.hover_rewrite:hover{
    color:#fff !important;
}
.load{
    position:relative;
}
.loader{
    position:absolute;
    left:43%;
    top:41.5%;
    z-index:2;
}
.dashboard_loader{
    left: 57%;
    top: 8.5%;
}
.ttloader{
    position:absolute;
    left:43%;
    top:23%;
    z-index:2;
}
.ttmloader{
    position: absolute;
    left: 40%;
    top: 28%;
    z-index: 2;
}
.noticeloader{
    position: absolute;
    left: 17%;
    top: 9%;
    z-index: 2;
}
.movvStd{

    float: right;
    text-align: right;
}
.loader3{
    left:48% !important;
    top:8.5% !important;
}

/* Fees structure styles */
.fees_for_header {
    /* text-decoration: underline; */
    text-decoration: none;
    background: #6b6b6b;
    padding: 10px 15px;
    font-size: 19px;
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.fees_structure_breakup_container {
    display: block;
    float: left;  
    width: 100%;
    margin-bottom: 40px;
    border-radius: 8px;    
    border:1px solid #6b6b6b;
}
.fees_structure_breakup_content{
    padding: 0 15px;
}
.fees_container_append {    
    display: block; 
    float: left; 
    width: 100%;     
    padding: 10px; 
    border-radius: 8px;
    /* border: 1px solid #575757;  */
}
.dropdown-menu-right h5{
    text-transform: capitalize !important;
}
#page-header{
    background: #E91E63;
}
.btn-primary {
    color: #fff !important;
    background-color: #626262;
    border-color: #6a6a6a;
}
.btn-primary:hover {
    background-color: #313131;
    border-color: #313131;
}
.block-content a{
    color: #E91E63;
}
.btn-success{
    color: #fff !important;
}
#page-container.page-header-modern #page-header{
    background-color: #E91E63;
}
.feesContainer .btn-alt-primary {
    color: #fff;
    background-color: #262626;
    border-color: #373737;
}
.btn-alt-primary {
    color: #fff;
    background-color: #262626;
    border-color: #373737;
}
.btn-alt-primary:hover {
    color: #fff;
    background-color: #000;
    border-color: #262626;

}
.feesContainer .repeat_breakups_label{
    color: #E91E63 ;
}
.feesContainer .fees_container_append{
    padding: 10px 0;
}
.feesContainer .add_fees_link{
    color: #E91E63;
    padding: 5px;
    margin-bottom: 8px;
    display: inline-block;
}
.feesContainer .remove_fees_link{
    color: #E91E63 ;
}
.btn.btn-circle{
    background: #E91E63  !important;
}
.btn.btn-circle i{
    color: #fff;
}
.btn-dual-secondary i{
    color: #fff!important;
}
.container_del {    
    display: block; 
    float: left; 
    width: 100%;     
    margin-bottom: 15px; 
    padding: 8px 4px 4px; 
    border-radius: 8px;
    border: 1px solid #d4dae3; 
    background: #eee;
}
.repeat_breakups_label {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 15px;
    color: #4382B9;
    cursor: pointer;
}

.overlay_screen{
    position: fixed;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.89);
    z-index: 999;
    text-align: center;
    padding-top : 200px;

}
.overlay_screen p{
    font-size: 25px;
    color: #fff;
    padding: 0 15px;
}
.otp_button_container{
    width:100%;
    float: left;
    text-align: center;
    padding: 20px 0px;
}
.otp_btn{
    padding: 20px 40px;
}
.mail_btn{
    padding: 20px;
}
.clear_class{
    float:left;
    width:100%;
}

/* Login Style */

.registration_content {
    width: 100%;
    float: left;
    display: inline-table;
}

.registration_content_left {
    width: 50%;
    float: left;
    background: #fff;
    /* background: url("../images/analyzing-brainstorming-business.jpg") no-repeat top left; */
    background-size: auto;
    height: 100vh;
    position: relative;
    display: table;
    background-size: cover;
}

.field_container {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.field_container_content {
    max-width: 550px;
    margin: auto;
    text-align: center;
    transition: all 0.5s ease-in-out;
    /* padding-top: 100px;
    padding-bottom: 60px; */
}
.field_container_content h2{
    color: #6c757d;
    font-size: 24px;
    margin-top: 8px;
}
.field_container_content .form-control{
    background: #fff;
    color: #333 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 14px;
    border: 1px solid #c1c1c1;
    transition: all 0.3s ease-in-out;
    height: 50px;
}
.field_container_content .form-control:focus{
    border: 1px solid #666;
}
.field_container_content .form-control::placeholder {
    color: #333!important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 14px;
}




.registration_content_right {
    width: 50%;
    float: right;
    height: 100vh;
    position: relative;
    display: table;
    background: url("../_images/login_screen_bg.jpg") no-repeat top left;
    background-size: cover;
}

.text_container_registration {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.text_container_registration_content {
    max-width: 660px;
    margin: auto;
    text-align: center;
    padding: 0 15px;
}
.text_container_registration h1 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;

}
.text_container_registration p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #000;
    line-height: 30px;
    margin-bottom: 0;
}

.buttonSbmit {
    float: left;
    width: 100%;
    padding: 0px;
}

.submitButton{
    background: #ea1e63;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    padding: 15px 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 0;
    width: 100%;

    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.submitButton:hover{
    background: #c81854;
}


.loginfooter {

    padding: 24px 0px;
    float: left;
    width: 100%;
}
.loginfooterleft {
    float: left;
}

.loginfooterright {
    float: right;
}

.loginfooter a {
    font-size: 14px;
    color: #585c5f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.edit_icon{
    font-size: 20px;
    margin-left: 10px;

}
.popup_side_border{
    box-shadow: 0px 0px 35px rgba(0,0,0,0.3);
}



.pointsUl{
    padding-left: 0px;
    margin-top: 30px;
}

.pointsUl li{
    float: left;
    color: #000;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 50%;
    line-height: 34px;
    list-style: none;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.pointsUl li img{
    width: 40px;
}
.iconWrapper{
    width: 60px;
    height: 60px;
    background: #fff;
    display: inline-block;
    border-radius: 100px;
    line-height: 82px;
}
.pointsUl li .textheading{
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: block;
    line-height: 18px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pointsUl li .text_subtag{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: block;
    line-height: 18px;
}

.login_left{
    float: right;
}

.login_right{
    float: left;
}
.cust{
    position: absolute;
    left: 57%;
    top: 24.5%;
    z-index: 2;
}

.row{
	position: relative;
}

.loader-universal {
    width: 100%;
    text-align: center;
    left: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
	position: fixed;
}

.loader-universal i {
    top: 50%;
    position: relative;
}

.green{
    color:#008000;
}


.form-group {
    margin-bottom: 20px;
}

.field_container_content .form-group{
    position: relative;
}

.invalid-feedback{
    position: absolute;
    /*    left: 0;*/
    margin-top: 0;
    width: 100%;
    text-align: left;
    font-size: 12px;
}

.blockOtp{
    width: 770px;
    margin: 3% auto 2%;
    text-align: center;
    background: #fbfbfb;
    padding: 30px;
    border: 14px solid #cecece;
}
.blockOtp .form-material {
    padding-top: 2px;
}
.blockOtp h4{
    margin-bottom: 0px;
}

.blockOtpSubmit{
    background: #E91E63;
    border: 1px solid #E91E63;
    font-size: 16px;
    text-transform: capitalize;
    padding: 14px 38px;
    border-radius: 110px;
}
.blockOtpSubmit:hover{
    background:#c10d4a;
    border: 1px solid #E91E63;
}

.blockOtp .clear_class {
    float: none;
    width: 80%;
    margin:20px auto;
}
.blockOtp .edit_icon{
    color: #E91E63;
}

.main-session-dropdown {
    flex: none;
    position: absolute;
    right: 78px;
}
.middle_align{
    width:100%;
    float: left;
    text-align: center;
}
.big_button{
    font-size: 24px;
    padding: 16px 25px
}

.content-header{
    position: relative !important;
}
.config_sms {
    text-align: center;
    background-color: #E91E63;
    color: #fff !important;
    padding: 6px;
    width: 100% !important;
    float: left;
    font-size: 18px;
    font-weight: bold;
}
.controls{
    width:15%;
    float: right;
}
.main_box{
    width:100%;
    float: left;
}
.loader_holder{
        width: 100%;
        float: left;
        position: absolute;
        top: 0px;
    }

/**********02-17-2020***********/

.d-none {
    display: block !important;
}

#page-header-user-dropdown .fa-user{
	display: none !important;
	color: #e91e63!important;
}

.progress-bar1 div {
  position: absolute;
  height: 170px;
  width: 170px;
  border-radius: 100%;
}
 
.progress-bar1 div span {
    position: absolute;
    font-size: 40px;
    line-height: 0;
    height: 140px;
    width: 140px;
    left: 14.5px;
    top: 14.5px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.3s ease;
    padding: 40% 0 0 0;
    font-weight: bold;
    color: #000;
}
 
.progress-bar1 div span:hover{
	transform: scale(1.1);
}
 
.progress-bar1 .background { background-color: #b3cef6; }
 
.progress-bar1 .rotate {
  clip: rect(0 85px 170px 0);
  background-color: pink;
}
 
.progress-bar1 .left {
  clip: rect(0 85px 170px 0);
  opacity: 1;
  background-color: hotpink;
}
 
.progress-bar1 .right {
  clip: rect(0 85px 170px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: #4b86db;
}
 
@keyframes
toggle {  0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
} 

.progress_wrpper {
    float: left;
    width: 100%;
    margin: 0 0 19px 0;
    padding: 0px 15px;
}

.progress_contain {
    width: 100%;
    float: left;
    background: #fff;
    position: relative;
    padding: 0 0 20px 0;
}

.progress_main_block {
    position: relative;
    width: 180px;
    height: 180px;
    float: left;
    margin: 41px 0px 0px 24px;
}

.progress_content {
    width: 80%;
    float: right;
}

.progress_content_listing{
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
} 

.progress_content_listing li {
    width: 14%;
    float: left;
    list-style: none;
    margin: 75px 0 0 0;
	position: relative;
}

.progressBarLine {
    position: absolute;
    height: 17px;
    width: 100px;
    left: 42px;
	background-image: -webkit-linear-gradient( 90deg, rgb(233,255,225) 16%, rgb(183,241,161) 50%, rgb(233,255,225) 84%);
    top: 25%;
}


.progress_content_listing li span {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    z-index: 1;
}

.progress_content_listing li span picture {
    background: #ea1e63;
    width: 45px;
    height: 45px;
    display: inline-block;
    padding: 11px 0 0 0;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    margin: 9px 0 25px 0;
}

.progress_content_listing li span picture img {
    height: 19px;
    width: auto;
}

.progress_content_listing li span:after {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    background: #f00;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -20%);
	text-align: center;
    border-radius: 100%;
	background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(255,171,199) 0%, rgb(255,209,225) 67%, rgb(255,247,250) 91%);
}


.progress_content_listing li span p {
    font-size: 11.5px;
    text-transform: capitalize;
    margin: 8px 0 0 0;
    font-weight: 600;
	z-index: 1;
	position: relative;
	color: #373737;
}

.progress_heading {
    width: 100%;
    float: left;
    font-size: 26px;
    margin: 18px 0 -7px 0;
    padding: 0 20px;
    color: #565656;
}

.progress_heading small {
    font-size: 19px;
    color: #e25e8b;
    margin: 0 0 0 7px;
}

.activeProgress picture{
	background: #30a203 !important;
}

.activeProgress span:after {
	background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(139,228,104) 0%, rgb(186,242,165) 67%, rgb(233,255,225) 91%) !important;
}

.activeProgress span p{
	color: #30a203 !important;
}

.progress_content_listing li:nth-child(2) img{
	margin: 0 0 0 2px;
} 

.exists_error {       
    margin-top: 0;
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: #ef5350;
    margin-bottom: -18px;
}







/**********02-17-2020***********/




/* =======================Responsive=============================*/

@media screen and (min-width: 992px) and (max-width:1200px){
    .field_container{
        padding: 0 50px;
    }
    .text_container_registration_content{
        padding: 0 30px;
    }
    .blockOtp{
        width: 700px;
    }
	.progress_main_block {
		float: none;
		margin: 105px auto 0 auto;
	}
	.progress_content {
		width: 100%;
	}
	.progress_content_listing li {
		width: 100%;
		margin: 33px 0 0 0;
	}
	.progress_content_listing li span:after {
	  top: 0%;
	  left: 50%;
	  transform: translate(-50%, -20%);
	  -ms-transform: translate(-50%, -50%);
	  text-align: center;
	}
	.progressBarLine {
		height: 100%;
		width: 5%;
		top: 30%;
		left: 50%;
		transform: translate(-50%, 0%);
		-ms-transform: translate(-50%, 0%);
		text-align: center;
	}
}
@media screen and (min-width: 768px) and (max-width:991px){
    .registration_content_left {
        width: 100%;
        display: block;
        height: auto;
    }
    .field_container{
        padding: 100px 0px 0;
        display: block;
        height: 800px;
    }
    .text_container_registration_content{
        padding:120px 0px 0;
        display: block;
        height: 800px;
    }
    .registration_content_right {
        width: 100%;
        height: auto;
        display: block;
    }
    .login_right .text_container_registration_content{
        height: 600px;
        padding: 230px 0px 0;
    }
    .text_container_registration{
        display: block;
    }
    .login_left .field_container{
        height: 600px;
    }
    .blockOtp{
        width: 600px;
    }
	.progress_main_block {
		float: none;
		margin: 105px auto 0 auto;
	}
	.progress_content {
		width: 100%;
	}
	.progress_content_listing li {
		width: 100%;
		margin: 33px 0 0 0;
	}
	.progress_content_listing li span:after {
	  top: 0%;
	  left: 50%;
	  transform: translate(-50%, -20%);
	  -ms-transform: translate(-50%, -50%);
	  text-align: center;
	}
	.progressBarLine {
		height: 100%;
		width: 5%;
		top: 30%;
		left: 50%;
		transform: translate(-50%, 0%);
		-ms-transform: translate(-50%, 0%);
		text-align: center;
	}
}

@media screen and (min-width: 576px) and (max-width:767px){
    .registration_content_left {
        width: 100%;
        display: block;
        height: auto;
    }
    .field_container{
        padding: 100px 0px 0;
        display: block;
        height: 800px;
    }
    .text_container_registration_content{
        padding:100px 15px 0;
        display: block;
        height: 800px;
    }
    .registration_content_right {
        width: 100%;
        height: auto;
        display: block;
    }

    .text_container_registration{
        display: block;
    }

    .login_left .field_container{
        height: 600px;
    }
    .login_right .text_container_registration_content{
        height: 600px;
        padding: 230px 0px 0;
    }
    .blockOtp{
        width: 500px;
    }
    .blockOtp h4 {
        margin-bottom: 0px;
        font-size: 17px;
    }
	.progress_main_block {
		float: none;
		margin: 105px auto 0 auto;
	}
	.progress_content {
		width: 100%;
	}
	.progress_content_listing li {
		width: 100%;
		margin: 33px 0 0 0;
	}
	.progress_content_listing li span:after {
	  top: 0%;
	  left: 50%;
	  transform: translate(-50%, -20%);
	  -ms-transform: translate(-50%, -50%);
	  text-align: center;
	}
	.progressBarLine {
		height: 100%;
		width: 5%;
		top: 30%;
		left: 50%;
		transform: translate(-50%, 0%);
		-ms-transform: translate(-50%, 0%);
		text-align: center;
	}

}
@media screen and (min-width: 240px) and (max-width:479px){
    .sbtnWrap {
        padding: 15px 0 0 15px;
    }
    .pointsUl li{
        width: 100%;
    }
    .loginfooterleft {
        float: left;
        display: block;
        width: 100%;
    }
    .loginfooterright {
        float: right;
        width: 100%;
    }
    .blockOtp{
        width: 300px !important;
        margin: 3% auto 9%!important;
    }
    .blockOtp h4{
        font-size: 15px!important;
    }
	
	
	.progress_main_block {
		float: none;
		margin: 105px auto 0 auto;
	}
	.progress_content {
		width: 100%;
	}
	.progress_content_listing li {
		width: 100%;
		margin: 33px 0 0 0;
	}
	.progress_content_listing li span:after {
	  top: 0%;
	  left: 50%;
	  transform: translate(-50%, -20%);
	  -ms-transform: translate(-50%, -50%);
	  text-align: center;
	}
	.progressBarLine {
		height: 100%;
		width: 5%;
		top: 30%;
		left: 50%;
		transform: translate(-50%, 0%);
		-ms-transform: translate(-50%, 0%);
		text-align: center;
	}

}

@media (max-width: 575px) {
    .shift{
        margin: 5px 0;
    }
    .block-header{
        display:block;

    }
    .mob-block-header{
        display:flex; 
    }
    .movvStd{
        padding:0;
        text-align: center;
    }
    .movvsStd{
        text-align: center;
    }
    .movedown{
        margin-top:70px;
    }


    .registration_content_left {
        width: 100%;
        display: block;
        height: auto;
    }
    .field_container{
        padding: 100px 20px 0;
        display: block;
        height: 800px;
    }
    .text_container_registration_content{
        padding: 75px 20px 0;
        display: block;
        height: 750px;
    }
    .registration_content_right {
        width: 100%;
        height: auto;
        display: block;
    }

    .text_container_registration{
        display: block;
    }

    .login_left .field_container{
        height: 600px;
    }
    .login_right .text_container_registration_content{
        height: 400px;
        padding: 70px 15px 0;
    }
    .blockOtp{
        width: 400px;
        margin: 3% auto 9%;
    } 
	
	
	.progress_main_block {
		float: none;
		margin: 105px auto 0 auto;
	}
	.progress_content {
		width: 100%;
	}
	.progress_content_listing li {
		width: 100%;
		margin: 33px 0 0 0;
	}
	.progress_content_listing li span:after {
	  top: 0%;
	  left: 50%;
	  transform: translate(-50%, -20%);
	  -ms-transform: translate(-50%, -50%);
	  text-align: center;
	}
	.progressBarLine {
		height: 100%;
		width: 5%;
		top: 30%;
		left: 50%;
		transform: translate(-50%, 0%);
		-ms-transform: translate(-50%, 0%);
		text-align: center;
	}   
    
}

