/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Apr, 2019, 3:43:14 PM
    Author     : user
*/
body{
    position: relative;
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  
    transition: all 0.3s 1s ease-out;
}









/*.loader{
    width:100%;
    height:100%;
    position:fixed;
    background: rgba(0,0,0,1);
    z-index:9;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.loader_img_container{
    position:relative;
    top: 47%;
    left: 47%;
}
.loader_img{
    position:absolute;
    top:42%;
    left:46%;
}*/
#page-container{
    position:relative;
    z-index: 2;
}
#sidebar{
    background-color: #FDD835 !important;
    box-shadow: none !important;
}
.content-side-user{
    background-color: #000 !important;
}
.text-dual-primary-dark{
    color: #fff !important;
}
.img-avatar{
    border: 2px solid #fff !important;
}
.nav-main a {
    font-weight: 600;
    color: rgba(0, 0, 0, 1) !important;
}
.nav-main a > i{
    color: rgba(0, 0, 0, 1) !important;
}
.nav-main a.active, .nav-main a:focus, .nav-main a:hover {
    color: #E91E63 !important;
}
.nav-main a.active > i, .nav-main a:focus > i, .nav-main a:hover > i {
    color: #E91E63 !important;
}


.sbtnWrap {
    padding: 15px 0 0 0;
}

.block-header-default {
    background-color: #ffffff !important;
    position: relative;
}
.block-content.block-content-full{
    position: relative;
}
#clickbtn{
    position: relative;
}
#div_slideDown{
    position: relative;
    right: 0;
    top: -35px;
    width: 100%;
    height: 200px;
    background: #fff !important;
    z-index: 1;
    display: none; 
}
#div_slideDown .form-material > label{
    left: 5px;
}
#div_slideDown .form-row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.noDel_wrap {
    width: 25%;
    float: left;
    margin: 11px 33px;
}

.del_icon{
    float:right;
}

.contactNo{
    width:100%;
    float:left;
}

.popup_btn_wrap{
    width:100%;
    float:left;
    margin:20px 0 0 0;
    position:relative;
}

.popWrap {
    width: 320px;
    position: absolute;
    bottom: 51px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    overflow:hidden;
    transition:0.3s ease-in-out;
    transform:scale(0);
    transform-origin:bottom left;
}

.openPopWrap{
    transform:scale(1);	
}

.popInn{
    width:100%;
    float:left;
    background:#fff;
    padding:20px 8px;
    text-align:center;
}

.usr{
    padding: 4px 11px;
    background: #fff;
}
.custom-block{
    width:33% !important;
    float: left !important;
    padding: 10px !important;
}
.already_acc{
    float:left;
    margin-top: 10px;
}
.manu_chk{
    float: left;
    margin-top: 88px;
    margin-left: 10px;
    font-weight: bold;
}
.license{
    width: 183px !important;
    display: inline !important;
}
.license_font{
    font-size: 1.857143rem !important;
    font-weight: 600 !important;
}
.hover_rewrite{
    color:#fff !important;
}
.hover_rewrite:hover{
    color:#fff !important;
}
.load{
    position:relative;
}
.loader{
    position:absolute;
    left:43%;
    top:41.5%;
    z-index:2;
}
.ttloader{
    position:absolute;
    left:43%;
    top:23%;
    z-index:2;
}
.ttmloader{
    position: absolute;
    left: 40%;
    top: 28%;
    z-index: 2;
}
.noticeloader{
    position: absolute;
    left: 17%;
    top: 9%;
    z-index: 2;
}
.movvStd{

    float: right;
    text-align: right;
}
.loader3{
    left:48% !important;
    top:8.5% !important;
}

/* Fees structure styles */
.fees_for_header {
    text-decoration: underline;
}
.fees_structure_breakup_container {
    display: block;
    float: left;  
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;    
}
.fees_container_append {    
    display: block; 
    float: left; 
    width: 100%;     
    padding: 10px; 
    border-radius: 8px;
    /* border: 1px solid #575757;  */
}
.container_del {    
    display: block; 
    float: left; 
    width: 100%;     
    margin-bottom: 5px; 
    padding: 8px 4px 4px; 
    border-radius: 8px;
    border: 1px solid #d4dae3; 
}
.repeat_breakups_label {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 15px;
    color: #4382B9;
    cursor: pointer;
}

@media screen and (min-width: 240px) and (max-width:479px){
	.sbtnWrap {
		padding: 15px 0 0 15px;
	}
}

@media (max-width: 575px) {
    .shift{
        margin: 5px 0;
    }
    .block-header{
        display:block;
           
    }
    .movvStd{
        padding:0;
            text-align: center;
    }
    .movvsStd{
            text-align: center;
    }
    .movedown{
        margin-top:70px;
    }
}

