@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap'); */
body{
/*     background: #fdd835; */
    font-family: 'Nunito', sans-serif !important;
    /* font-family: 'Roboto', sans-serif; */
    height: 100%;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h1{
    font-family: 'Nunito', sans-serif !important;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    font-size: 30px;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #262626;
    font-weight: 500 !important;
}
input:focus{
    outline: none;
    box-shadow: none;
}

.defaultContent{
    width: 100%;
    float: left;
    text-align: left;
    padding: 0 15px;
}
.defaultContent h3{
    position: relative;
    margin-bottom: 15px;
    font-size: 19px;
}
.defaultContent h3::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 4px;
    display: inline-block;
    top: 15px;
    left: auto;
    margin-left: 10px;
    background: #e91e63;
    border-radius: 8px;

}
.defaultContent p{
    color: #202020;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 28px;
}

.wrapper{
    width: 100%;
    float: left;
    height: 100%;
}

.wrap_content{
    max-width: 1024px;
    margin: auto;
/*    height: 100vh;*/
/*    height: 100%;*/
    position: relative;
    background: url("../app_images/bottom_bg.png") center bottom no-repeat #fdd835;
}
/*.wrap_content:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 230px;
    width: 100%;
    background: url("../app_images/bottom_bg") center bottom;
}*/
.p-5{
    position: relative;
    z-index: 1;
}
.wrap_content h1{
    margin: 15px 0 50px;
    font-size: 50px;
}

.wrap_content .form-control{
    font-weight: 400 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    height: calc(3.25rem + 2px);
}

.btn001{
    margin: 0;
    display: block;
    width: 100%;
    height: calc(4rem + 2px);
    font-weight: 400 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 20px!important;
    background: #000!important;
    color: #fff!important;
}

.btn002{
    margin: 0 ;
    display: inline-block;
    width: auto;
    height:50px;
    font-weight: 600 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 20px !important;
    background: #201f1f !important;
    color: #fff !important;
    line-height: 25px;
    text-transform: uppercase;
    padding: 13px 24px;
    border-radius: 100px;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}
.btn003{
    margin: 0;
    display: inline-block;
    width: auto;
    height:70px;
    font-weight: 600 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 25px !important;
    background: #e91e63 !important;
    color: #fff !important;
    line-height: 35px;
    text-transform: uppercase;
    padding: 13px 40px;
    border-radius: 100px;
    letter-spacing: 1px;
}



.md-form label{
    top: -25px !important;
    font-weight: 400 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 18px!important;
    text-transform: capitalize;
    color: #000!important;
}
.textforgetpassword{
    font-weight: 400 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 18px!important;
    color: #000;
    float: right;
    margin-bottom: 50px;
    margin-top: 20px;
}
/*.bgBottom{
    background: url("../app_images/bottom_bg.png") center bottom;
    height: 230px;
    width: 100%;
    float: left;
    text-align: center;
    position: absolute;
    bottom: 0;
}*/
.bgBottomSection{
    position: relative;
}
.bgBottom p{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 28px;
    color: #fff;
    font-weight: 300 !important;
    font-family: 'Nunito', sans-serif;
}
.bgBottom p a{
    color: #000;
}

.wrap_content .btn001{
    margin: 40px 0 !important;
}
.bodycontent{
/*    background: #fdd835;*/
    float: left;
    width: 100%;
    padding: 15px 0 0;
    position: relative;
    /* margin-top: 80px; */
}
.profileimg{
    width: 100px;
    height:100px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}
.profileimg img{
    width: 100px;
}
.headingDiv{
    width: 100%;
    float: left;
    text-align: center;
    padding: 0;
    color: #000;
}
.headingDiv h2{
    font-size: 24px;
    font-weight: 500;
}
.iconsDiv{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: #fff;
    background: #e91e63;
    padding: 8px 15px;
    border-radius: 54px;
    line-height: 30px;
}
.rowBox{
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 180px;
    min-height: 500px;
}
.profileGrid{
    width: 47%;
    float: none;
    text-align: center;
    background: #e91e63;
    padding: 50px 20px;
    border-radius: 12px;
    margin: 4px;
    display: inline-block;
}
.profileGrid .profileimg {
    width: 120px;
    height: 120px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    float: none;
    margin-right: 0;
    border: 4px solid #fff;
}
.profileGrid .profileimg  img{
    width: 120px;
}
.profileGrid h3{
    color: #fff;
    font-size: 30px;
}
.tag_section {
    color: #fff;
    font-weight: 600;
    display: block;
    margin: 12px 0;
}
.btn_select{
    padding: 8px 31px;
    display: inline-block;
    background: #fff;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.secondlabel li a{
    background: #201F1F;;
    padding-left: 40px !important;
}

.innerHeadingContent{
    width: 100%;
    float: left;
    /* background: #304ffe; */
    background: #201f1f;
    padding: 25px;
}
.innerHeadingContent h1{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.innerbodycontent{
/*    background: #fdd835;*/
    float: left;
    width: 100%;
    padding: 30px 0 0;
    position: relative;
    min-height: 690px;
}

.sectionrowBox{
    width: 100%;
    float: left;
    text-align: center;
}
.section_Grid {
    width: 33%;
    float: none;
    text-align: center;
    background: #e91e63;
    padding: 50px 0px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    margin: 10px;
    display: inline-block;
    color: #fff;
}
.inactive_class{
    background: #de8da8;
}

.section_Grid h3{
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
}
.section_selection{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 14px;
    background: #fff;
    color: #2f2f2f;
    border-radius: 4px;
    margin: 10px;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: initial;
}
.time_tag{
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.time_tag i{
    margin-right: 4px;
}
.buttonContainer{
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.section_Grid2{
    width: 50%;
    float: none;
    text-align: center;
    /* background: #e91e63; */
    padding: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    margin: 12px 0;
    display: inline-block;
    color: #fff;
    text-align: left;
}
.section_Grid2 a{
    display: block;
    padding: 0;
    background: #fff !important;
    border-radius: 6px;
    color: #333 !important;
    font-size: 22px !important;
    text-transform: capitalize;
    letter-spacing: 0;
    line-height: 54px;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.1);
}
.section_Grid2 a:hover{
    background: #e91e63 !important;
    color: #fff !important;
}


.icon_section{
    display: inline-block;
    background: #e91e63;
    height: 100%;
    padding: 9px 12px;
    text-align: center;
    margin-right: 10px;
    border-radius: 6px 0 0 6px;
}
.icon_section img{
    margin-top: -4px;
}

.md-form>input[type=time]:not(.browser-default)+label, .md-form>input[type]:-webkit-autofill:not(.browser-default):not([type=search])+label{
    -webkit-transform: translateY(0px) !important;
    transform: translateY(0px)!important;
}

.custom-control-input.is-invalid ~ .custom-control-label::before, .was-validated .custom-control-input:invalid ~ .custom-control-label::before {
    background-color: #f01529;
}
.studentGrid{
    width: 100%;
    margin: auto;
}
.studentbdContent{
    background: #ececec;
    padding: 0;
    min-height: 690px;
}
/* .custom-control{
padding-left: 0;
}
.custom-control-input.is-valid:checked~.custom-control-label::before, .was-validated .custom-control-input:valid:checked~.custom-control-label::before {
background-color: #0bd439;
box-shadow: none;
}
.custom-checkbox .custom-control-label::before {
border-radius: 2.25rem;
box-shadow: none !important;
}
.custom-control-label::before{
right: 0.5rem;
width: 1.5rem;
height: 1.5rem;
left: inherit;
box-shadow: none !important;
z-index: 1;
}

.custom-control-label::after{
left: inherit;
right: 0.74rem;
top: 0.52rem;
background-size: 70% 70%;
background-image: url("../app_images/cancel.png");
z-index: 1;
} */




.check-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
}
.check-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.check-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    background: #FF3547;
    padding: 3px;
    border: 5px solid #d64451;
    height: 80px;
    width: 100%;
    border-radius: 4px;
}





.studentGrid .profileimg {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    float: none;
    margin-right: 0;
    border: 3px solid #fff;
    position: relative;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
}
.profileStudent{
    margin: 0;
    padding: 0;
}
.profileStudent li{
    list-style: none;
    display: inline-table;
    margin: 5px 2px;
    width: 13%;
}
.rollname{
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 18px;
}

.studentname{
    font-size: 14px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000;
    line-height: 17px;
    text-transform: capitalize;
    width: 50px;
    overflow: hidden;
    margin: auto;
}
.togglebtnContainer{
    padding: 0px;
    display: flex;
    margin-bottom: 15px;
}
.togglebtnContainer .btn{
    position: relative !important;
}
.buttontab{
    width: 50%;
    display: inline-block;
    padding: 10px;
    margin: 0 1px;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}
.presentbtn{
    background: #388E3C;
}
.absentbtn{
    background: #ff3547;
}
.clearbtn{
    background: #FB9102;
}

.presentbtn_clk{
    background: #388E3C;
    border:5px solid #2c692f;
}
.absentbtn_clk{
    background: #ff3547;
    border:5px solid #d42131;
}
.clearbtn_clk{
    background: #FB9102;
}

.innerbodycontent3{
    width: 100%;
    float: left;
    text-align: left;
    padding: 30px;
}

.innerbodycontent3 h2{
    text-transform:capitalize;
    font-size: 20px;
}

.innerbodycontent3 textarea{
    height: auto !important;
    font-family: 'Roboto', sans-serif !important;
}

.photoGrid{
    padding: 0 63px 0 0;
}

.photoGrid li{
    width: 300px;
    margin: 3px;
    height: 300px;
    background: #fff;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    list-style: none;
    overflow: hidden;
    position: relative;
}
.photoGrid li img{
    width: 100%;
    position: relative;
    z-index: 1;
}
.photoGrid li small{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 18px;
    z-index: 2;
}
.photoGrid li small i{
    margin: 0px 6px;
    color: green;
}
.photoGrid li small a.deleteFile i{
    color: #e40606;
}
.photoGrid li:nth-child(4) span{
    color: #fff;
    font-size: 50px;
    display: block;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    padding-top: 37%;
    cursor: pointer;
}
.photoGrid li:nth-child(4) span.overlay_note_img{
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.82);
    z-index: 2;
    display: block;
    position: absolute;
}
/* .photoGrid li:last-child a{
color: #fff;
font-size: 50px;
display: block;
height: 100%;
position: absolute;
z-index: 3;
top: 0;
font-family: 'Roboto', sans-serif;
font-weight: 300;
width: 100%;
padding-top: 110px;
} */

.pdfFilescontainer{
    width: 100%;
    float: left;
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin-top: 40px;
}
.pdfFilescontainer .pdfimg{
    width: 80px;
}

.gridPdf{
    padding: 0;
}
.gridPdf li{
    list-style: none;
    text-align: center;
    display: table;
    width: 215px;
    overflow: hidden;
    float: left;
    margin-bottom: 19px;
    border: 1px solid #8f8f8f;
    padding: 10px 0;
    margin: 10px;
    border-radius: 3px;
    height: 140px;
    position: relative;
    background: #fff;
}
.gridPdf li a{
    width: auto;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.gridPdf li h2{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #484848;
    margin-top: 12px;
}


.gridPdf li:nth-child(4) span.overlay_note_img{
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.82);
    z-index: 2;
    display: block;
    position: absolute;
}
.gridPdf li:nth-child(4) span {
    color: #fff;
    font-size: 42px;
    display: block;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    padding-top: 35px;
    cursor: pointer;
}
.gridPdf li:last-child h2{
    font-size: 40px;
    display: inline-block;
    color: #333;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    top: 5px;
}
.gridPdf li:last-child .pdfimg {
    width: 80px;
    display: inline-block;
}
.gridPdf li small{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 18px;
    z-index: 3;
}
.gridPdf li small a.downloadFile i{
    margin: 0px 6px;
    color: green;
}
.gridPdf li small a.deleteFile i{
    color: #e40606;
}
.img_add_icon li:first-child::before{
    background: rgba(255, 255, 255, 0.82);
}
.img_add_icon li:first-child a{
    padding-top: 80px;
    display: block;
}
.img_add_icon li:first-child img {
    width: auto;
}

.file_add_icon li:first-child a{
    display: block;
    padding-top: 19px;
}
.file_add_icon li:first-child img {
    width: 80px;
}


.formContent{
    float: left;
    width: 100%;
    padding: 0 15px;
    text-align: left;
}
.buttonSubmit, input.buttonSubmit{
    font-size: 20px;
    color: #fff;
    background: #e91e63;
    padding: 8px 15px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}


.form-control{
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif !important;
}
.form-control:focus{
    border: 1px solid #666;
    outline: none;
    box-shadow: none;
}

.formContent label{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.custom-control-label::before{
    background: #e91e63;
    /* background: #fff; */
    left: -25px;
    top: 4px;
    width: 1rem;
    height: 1rem;
    /* border-radius: 100px !important; */
    /* display: none; */
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("../app_images/checkmark_white.png");
}
.custom-control-input:checked~.custom-control-label::before{
    outline: none!important;
    box-shadow: none !important;
}

.custom-control-label::after{
    left: -24px;
    width: 16px;
    height: 16px;
    top: 5px;
    background-size: 100% 100%;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 2px;

}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #e91e63;
    /* background: transparent; */
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #e91e63;

}


/* studentlist check */

.studentlist .custom-control-label::before{
    /* background: #e91e63; */
    background: #fff;
    left: 0;
    top: 13px;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 100px !important;
    /* display: none; */
}
.studentlist .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("../app_images/checkmark.png");
}
.studentlist .custom-control-input:checked~.custom-control-label::before{
    outline: none!important;
    box-shadow: none !important;
}

.studentlist .custom-control-label::after{
    left: -2px;
    width: 50px;
    height: 50px;
    top: 12px;
    background-size: 67% 67%;
}
.studentlist .custom-checkbox .custom-control-label::before {
    border-radius: 2px;

}
.studentlist .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #fff;
    /* background: transparent; */
}
.studentlist .custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #e91e63;

}
.selectall .custom-control-label::before {
    left: -25px;
    /* background-color: #e91e63; */
    background: #28a745;
    border-radius: 3px !important;
    width: 2rem;
    height: 2rem;
}
.selectall .custom-control-label::after {
    left: -39px;
    top: -6px;
    width: 35px;
    height: 35px;
}
.selectall .custom-control-input:checked~.custom-control-label::after {
    background-image: url("../app_images/checkmark_white.png");

}
.selectall .custom-control-input:checked~.custom-control-label::before {
    background-color: #28a745;

}
.selectall .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #28a745;
}
.selectall .custom-control-label::before{
    display: block;
    background: #28a745;
    left: -37px;
    top: -4px;
}

.btn-yes{
    background: green;
    border: 0;
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}
.btn-no{
    background: red;
    border: 0;
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

.modal.fade .modal-dialog{
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transform: translate(0);
    transform: scale(-0.2);
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: scale(1);
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 500px;
        margin: 9.75rem auto;
    }
}
.current_student{
    text-align: center;
    /* margin-bottom: 15px; */
}

/* Student listing page style */
.studentlist{
    padding: 0;
}
.selectall{
    margin: 0px 0 17px;
    padding-left: 40px !important;
}
.studentlist li{
    list-style: none;
    /* border-bottom: 1px solid #666; */
    float: left;
    width: 100%;
}
.studentlist li:last-child{
    border-bottom: 0;
}

.studentlist li a{
    display: block;
    padding: 5px 7px;
    /* padding: 20px 15px; */
    float: left;
    width: 100%;
}
.studentlist li a:hover{
    background: #fee370;
}
.studentlist li h3{
    font-size: 26px;
    font-weight: 600;
}
.studentlist li .custom-control-label{
    font-weight: 600;
    position: absolute;
    margin-bottom: 0;
    top: 0;
    right: 55px;
}
.selectall .custom-control-label{
    position: relative !important;
    left: 10px;
}
.studentlist li .profileimg {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    background: #fff;
    text-align: center;
}
.studentlist li .tag_section{
    color: #000;
}
.studentlist li .custom-control{
    /* display: inline-block; */
    display: block;
    width: 100%;
    float: left;
}
.studentlist li .custom-control-input {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.studentlist li .profileimg img {
    width: auto !important;
    height: 100% !important;
}


.routine_timetable{
    width: 100%;
    float:left;
    padding: 0 15px;
}
.routine_timetable .nav{
    -ms-flex-wrap:inherit ;
    flex-wrap: inherit;
}
.routine_timetable .nav-tabs .nav-item{
    width: 14.3%;
}
.routine_timetable .nav-tabs {
    border-bottom:0;
}
.routine_timetable .nav-tabs .nav-link{
    border-radius: 0;
    background: #e91e63;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin: 0 1px;
    border: 0;
    padding: 12px 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: #333;
    color: #fff;
    border: 0;
}

.routinelist{
    padding: 0;
}

.routinelist li{
    list-style: none;
    float: left;
    width: 100%;
    text-align: left;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}
.routinelist li:last-child{
    border-bottom: 0;
}

.routinelist li a{
    display: block;
    padding: 20px 15px;
    float: left;
    width: 100%;

}
.routinelist li a:hover{
    background: #fee370;
}
.routinelist li h3{
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 3px;
}
.routinelist li h3 i{
    font-size: 20px;
}
.routinelist li .subjectsDiv {
    width: 285px;
    height: 82px;
    display: table;
    float: left;
    margin-right: 23px;
    text-align: center;
    color: #fff;

}
.routinelist li:nth-child(odd) .subjectsDiv{
    background: #e91e63;
}
.routinelist li:nth-child(even) .subjectsDiv{
    background:#4a4a4a;
}
/* .routinelist li:first-child .subjectsDiv{
background: #a109a1;
}
.routinelist li:nth-child(2) .subjectsDiv{
background: green;
}
.routinelist li:nth-child(3) .subjectsDiv{
background: #ce2448;
}
.routinelist li:nth-child(4) .subjectsDiv{
background: #50279f;
} */


.routinelist li .subjectsDiv small{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    line-height: 24px;
}
.routinelist li .tag_section{
    color: #000;
    margin: 0;
}
.fileDocumenticon{
    display: inline-block;
    font-size: 30px;
    float: left;
    margin: 20px 0;
}
.fileDocumenticon i{
    color: #e91e63;
    font-size: 40px;
    margin-right: 10px;
    position: relative;
    top: 6px;
}
.routine_container{
    padding: 5px 15px;
    font-weight: 500;
    width: 180px;
    float: left;
    font-family: 'Roboto', sans-serif;
}
.routine_calender{
    /* width: 60px !important; */
}
.openCalender{
    position: relative;
    float: right;
    overflow: hidden;
/*    width: 45px;*/
    width: 80%;
    height: 35px;
    margin-bottom: 0;
}
#date_cal {
    opacity: 0 !important;
    z-index: 3;
    position: absolute;
    z-index: 3;
    height: 50px;
}
#date_cal_val{
    position: absolute;
/*    left: 0;*/
    right: 20px;
    top: 0;
    z-index: 1;
}
#date_cal_val i{
    font-size: 30px;
    color: #e91e63;
}

/* Notice style */

.noticeGrid {
    width: 70%;
    float: none;
    text-align: center;
    background: #e91e63;
    padding: 10px 20px;
    border-radius: 12px;
    margin: 4px;
    display: inline-block;
}

.grid_row{
    width: 100%;
    float: left;
    display: flex;
    position: relative;
}
.grid_row_left{
    width: 20%;
    color: #fff;
    text-align: center;
    /* background: #181818; */
    padding-top: 20px;
    height: 90px;

}

.grid_row_right{
    width: 65%;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}
.grid_row_left h2{
    font-size: 50px;
    line-height: 34px;
    margin-bottom: 0;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
}
.grid_row_sub{
    font-size: 21px;
    font-weight: 500;
}
.dayText{
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.files_icon{
    margin-right: 10px;
}
.files_icon i{
    font-size: 24px;
}


/* Notice details */
.noticedetails{
    width: 80%;
    float: none;
    text-align: center;
    background: #fff;
    padding: 20px 20px;
    border-radius: 12px;
    margin: 4px;
    display: inline-block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.noticedetails h2{
    font-weight: 400;
    font-size: 22px;
    color: #262626;
}
.date__notice {
    display: block;
    margin: 15px 0;
    color: #ec277f;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.noticedetails p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}



/* parent Attendance list */
.tableGrid{
    width: 80%;
    float: none;
    text-align: center;
    background: #fff;
    padding: 20px 20px;
    border-radius: 12px;
    margin: 4px;
    display: inline-block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.table th{
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.table td{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-weight: 400;
    font-size: 14px;
}
[data-href] {
    cursor: pointer;
}



.worksDaliy{
    padding: 0;
}
.worksDaliy li{
    list-style: none;
}
.row_works{
    width: 100%;
    float: left;
    display: flex;
}
.leftworks{
    width: 55%;
    float: left;
    color: #fff;
}
.rightworks{
    width: 55%;
    float: left;
    color: #fff;
    height: 350px;
    background-size: cover;
    overflow: hidden;
}
.rightworks img{
    max-width: 351px;
}
.subject_1{
    display: table;
    background: #e91e63;
    padding: 20px 15px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500 !important;
    letter-spacing: 1px;
    height: 175px;
    width: 100%;
    float: left;
}
.subject_2{
    display: table;
    background: #141414;
    padding: 20px 0;
    margin: 0 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500 !important;
    letter-spacing: 1px;
    height: 175px;
    width: 100%;
    float: left;
}

.subject_1 h3{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
.subject_2 h3{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

.green{
    background: green;
}

.present_class{
    /* background: #388E3C !important; */
    /* color: #fff!important; */
    background: #fff;
    border: 3px solid #388E3C!important;
}
.absent_class{
    /* background: #FF3547!important; */
    border: 3px solid #c30011!important;
    /* color: #fff!important; */
    background: #fff;
}
.pertial_present_class{
    /* background: #ec780b!important; */
    border: 3px solid #f57701!important;
    /* color: #fff!important; */
    background: #fff;
}

/* Here start calender style================ */
.wrapperCalender{
    background: transparent;
    max-width: 500px;
    width: auto;
    padding: 20px 20px;
}
.content_box {
    font-size: 0px;
    margin: 5px 0px;
    min-height: 0px;

}
.calender {
    background: transparent;
    border: 0;
    width: 100%;
    box-shadow: none;
}

.calender td {
    border-bottom: 0;
    border-right: 0;
    vertical-align: top;
    padding: 2px;
    width: 100px;
    min-height: 50px;
    border-radius: 100px;
    height: 27px;
}
.calender .date{
    background: #fff;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    line-height: 48px;
    border: 1px solid #333;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.calender th {
    font-size: 15px;
    text-decoration: none;
    background-color: transparent;
    color: #3A3939;
    font-weight: 700;
    line-height: 37px;
}
/* Here End calender style============== */


.dashboard_parent{
    padding: 0;
}
.dashbordprofileGrid{
    width: 100%;
    float: none;
    text-align: left;
    background: #e91e63;
    padding: 35px 20px;
    display: inline-block;
}
.dashbordprofileGrid .profileimg {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    border: 4px solid #fff;
}
.dashbordprofileGrid .profileimg  img{
/*    width: auto;*/
    height: 100%;
}
.dashbordprofileGrid h3{
    color: #fff;
    font-size: 30px;
}
.dashbordprofileGrid .tag_section {
    color: #fff;
    font-weight: 600;
    display: block;
    margin: 4px 0;
}
.icon_tag {
    display: block;
    font-size: 50px;
    font-weight: 600;
    color: #333;
}
.full_width{
    width: 100% !important;
}
.boxdashbord{

}

.boxdashbord .section_Grid{
    background: transparent;
    height: auto;
    padding: 30px 0px;
}
.dashboard_parent .section_Grid h3{
    color: #333;
    text-transform: capitalize;
    font-size: 26px;
}
.dashbordprofileGrid h3 {
    color: #fff;
    font-size: 24px;
}

.notification_icon{
    display: inline-block;
    width: 40px;
    position: absolute;
    right: 70px;
}
.notification_icon i{
    font-size: 30px;
    color: #fff;
}
.notification_count{
    background: #EFC409;
    color: #000;
    position: absolute;
    right: 6px;
    width: 22px;
    height: 22px;
    font-size: 12px;
    border-radius: 100px;
    bottom: 7px;
    text-align: center;
    font-weight: 700;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.blockwise .nav-tabs .nav-item {
    width: 33.3%;
    text-align: center;
}
.blockwise .tab-content{
    background: #333;
    color: #fff;
    padding: 15px;
    float: left;
    width: 100%;
    border-radius: 0 0px 5px 5px;
}
.blockwise .nav-tabs .nav-link{
    margin: 0 1px 0 0;
}
.blockwise .nav-tabs .nav-item:last-child .nav-link{
    margin: 0 0px 0 0;
}


.wrapperGrid {
    width: 100%;
    float: none;
    text-align: center;
    padding: 0;
    display: inline-block;
}
.wrapperGrid h1{
    font-size: 24px !important;
    margin: 0 0 10px 0 !important;
    font-weight: 600 !important;
}
.wrappergrid_row {
    width: 100%;
    float: left;
    display: flex;
    margin-bottom: 25px;
}
.wrappergrid_row_left {
    width: 15%;
    color: #fff;
    text-align: center;
    background: #393939;
    padding-top: 37px;
    height: 110px;
    padding-bottom: 20px;
}
.wrappergrid_row_left h2 {
    font-size: 42px;
    line-height: 30px;
    margin-bottom: 0;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
}
.wrappergrid .dayText {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.wrappergrid_row_right {
    width: 75%;
    color: #454545;
    background: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}

.wrappergrid_row_right .grid_row_sub {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.officestatus{
    font-size: 17px;
    text-transform: capitalize;
    color: #e91e63;
    display: inline-block;
    padding: 0px 0 10px;
}

.photoGrid li:nth-child(3) span.overlay_note_img1 {
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.82);
    z-index: 2;
    display: block;
    position: absolute;
}
.gridPdf li:nth-child(3) span.overlay_note_img2 {
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.82);
    z-index: 2;
    display: block;
    position: absolute;
}

.photoGrid li:nth-child(3) span {
    color: #fff;
    font-size: 50px;
    display: block;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    padding-top: 37%;
    cursor: pointer;

}
.gridPdf li:nth-child(3) span.overlay_note_img1 {
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.82);
    z-index: 2;
    display: block;
    position: absolute;
}
.gridPdf li:nth-child(3) span {
    color: #fff;
    font-size: 42px;
    display: block;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    padding-top: 35px;
    cursor: pointer;
}
.heightClass{
    height:350px !important;
}
.page_head{
    width:100%;
    /* margin: 0 auto; */
    margin:0 auto 10px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}
.diaryTab{
    width:100%;
    float:left;
    padding: 0;
}
.diaryTab li{
    margin-bottom: 0;
    width:50%;
    float: left;
    padding: 0 1px 0 0;
}
.diaryTab li a{
    width:100%;
    float: left;
    margin: 0 0px;
}
.diaryTab li:last-child{
    padding: 0 0px 0 0;
}
.diaryTab li a:last-child{
    border:0 !important;
}
.grid_row_right span{
    float:right;
    margin-top: -16px;
}
.grid_row_right span i{color:#fff;}
.outgoing{
    color:#84e884;
}
.incoming{
    color: #0000ff;
}
.read_cls{
    background:#ec4d83 !important;
}
.textpos{
    text-align:center;
    font-size: 18px;
}
.attn_dir_arrow{
    float:right;
}
.draft{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

.arrow_ind{
    margin-right: -10px;
}
.arrow_ind i{
    color: #fff;
    font-size: 20px;
}
.gapContent{
    padding: 15px 5px;
}
.highlightTabContainer{
   float: left;
   width: 100%;
   padding: 0 13px;
}
.highlightTab .buttontab {
    background: #505050;
}
/* .viewClass {
background: #959192;
} */
/* .createClass {
background: #333;
} */
.highlightTab .nav-link.active{
    background: #2d2d2d;
}
.highlightContent{
    background: #2d2d2d;
    float: left;
    width: 100%;
}
.highlightContent h5{
    color: #fff;
}
.highlightContent .formContent label{
    color: #fff;
}
.highlightContent .btn002{
   background: #5a5a5a !important; 
}

.switch_cls .section_Grid {
    width: 100%;
    padding: 0px 0px;
    height: auto;
}
.switch_cls .icon_tag{
    color: #fff;
}

.switch_cls .section_Grid h3{
    color: #fff;
}

.past_work{
    width: 187px;
    float: right;
    text-align: right;
    line-height: 34px;
    font-weight: 700;

}

.past_work span{
/*    margin-right: 5px;*/
margin-right: -97px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
#frmRegister{
    margin-top: 15px;
}
.filter_select{
    width: 110px;
    height: auto;
    position: absolute;
    right: 15px;
    top: 10px;
}
.filter_select span{
    position: relative;
    display: inline-block;
}

.filter_select a{
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
}
.modal-dialog-centered{
    margin: 1.75rem auto;
}
.filterPopup .form-control{
    border: 1px solid #333;
}
.filterPopup .close{
    width: 33px;
    position: absolute;
    right: -9px;
    top: -12px;
    font-size: 30px;
    background: #d2b305;
    opacity: 1;
    height: 32px;
    line-height: 0;
    border-radius: 100px;
    z-index: 2;
    text-shadow: none !important;
}
.filterPopup .close:focus{
    outline: none;
}
.filterPopup .close:hover{
    opacity: 1;
}
.filterPopup .close span{
    display: block;
    line-height: 0;
    top: -1px;
    position: relative;
}
.filterPopup .modal-footer{
    border-top: 0;
    padding: 0;
}
.filterPopup .modal-footer input{
    background: #e91e63;
    color: #fff;
}
.filterPopup .modal-footer .btn{
    margin: 0 .375rem 0;
}
.filterPopup .selectall{
    padding-left: 25px !important;
    margin: 15px 0 17px;
}
.filterPopup .selectall .custom-control-label {
    padding-left: 7px;
    text-transform: capitalize;
}


.filterPopup .custom-control-label::after {
    background-size: 60% 60%;
    top: -6px !important;
}

.closebutton{
    background: #e91e63;
    color: #fff!important;
}


#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #5a5a5a;
    color: #fff;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    display: block;
    width: 70%;
    margin: 17px auto;
    border-radius: 4px;
}
.downloadFiles{
    padding: 8px 0 5px;
    display: inline-block;
}
.downloadFiles .files_icon i{
    color: #10830d;
    margin: 0 2px;
}
.pin_icon {
    display: inline-block;
    position: absolute;
    left: -23px;
    top: -11px;
}
.pin_icon img{
    width: 37px;
}

.ribbon_icon{
    display: inline-block;
    position: absolute;
/*    right: -36px;
    top: -22px;*/
    right: -6px;
    top: -10px;
}
.ribbon_icon img{
    width: 25px;
}

.arrow_ind{
    transform:rotate(-50deg);
}

.slash_icon{
    position: absolute !important;
    top: 1px;
    transform:rotate(-70deg);
    left: 5px;
}


.legends{
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}
.legends li{
    list-style: none;
    font-weight: 700;
    display: inline;
    margin: 0 8px;
    font-size: 13px;
}
.legends li span{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    display: inline-block;
    margin: -5px 4px;
}
.legends li span.greenLegend{
    border: 2px solid #388E3C;
    background: #fff;
}
.legends li span.redLegend{
    border: 2px solid #c30011;
    background: #fff;
}
.legends li span.orangeLegend{
    border: 2px solid #f57701;
    background: #fff;
}

.fakeGo{
    position: fixed;
    right: 0;
    width: 85px;
    top: 116px;
    z-index: 5;
}

.aligncontainer{
    text-align: center;
}
.timetable_container{
    width: 200px;
    float: none;
    text-align: center;
    background: #cf8401;
    /*  padding: 20px;*/
    margin: auto;
    display: inline-block;
}
.timetable_container a{
    display: block;
    padding: 20px;
}
.timetable_container span{
    display: inline-block;
    font-size: 18px;
    margin: 0 5px;
    font-weight: 600;
    color: #fff;
}

.diary_container{
    width: 200px;
    float: none;
    text-align: center;
    background: #cf8401;
    /*  padding: 20px;*/
    margin: 3px auto;
    display: inline-block;
}
.diary_container a{
    display: block;
    padding: 20px;
}
.diary_container span{
    display: inline-block;
    font-size: 18px;
    margin: 0 5px;
    font-weight: 600;
    color: #fff;
}
.diary_container i, .timetable_container i{
    color: #fff;
}
.block_works{
    background: #d2084c;
    margin: 30px 0 0 0;
    padding: 0;
    width: 100%;
    float: left;

}
.block_works h3{
    margin-bottom: 0;
    padding: 10px;
    color: #fff;
    font-size: 22px;
}
.block_works h3 span{
    font-size: 14px;
}
.block_works_bottom{
    background: #ea1f63;
    padding: 18px 0px 13px;
    width: 100%;
    float: left;
    display: flex;
    /*  border-top: 6px solid #333;
    border-bottom: 6px solid #333;*/
}
.classwork, .homework, .assignment {
    width: 33%;
}
.classwork .icon_section, .homework .icon_section, .assignment .icon_section {
    height: auto;
    margin-right: 0;
    padding: 5px 0px;
}

.classwork h3{
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    padding: 0;
}
.homework h3{
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    padding: 0;
}
.assignment h3{
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    padding: 0;
}
.container_teacherdashboard{
    padding: 5px 0 0 0;
}
.chart_container{
    float: left;
    width: 100%;
    padding: 20px 0;
}
.container_pending{
    width: 100%;
    float: left;
    padding: 5px 0px;
}
.pendingcontent{
    width: 100%;
    float: left; 
}
.pending_row{
    text-align: left;
    color: #fff;
    width: 100%;
    padding: 5px 5px;
    float: left; 
    background: #363636;
    margin-bottom: 15px;
    display: flex;
}
.pending_row_left{
    width: 70%;
    float: left;
}
.pending_row_right{
    width: 32%;
    float: right;  
    padding-top: 8px;
}
a.btn_004, .btn_004{
    display: block;
    background: #696969;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
}
.pending_row span{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.syllabus_content{
    padding: 0 10px;
}

.removeImgg{
    display: inline-block;
    margin-top: 40px;
    margin-left: 10px; 
}
.removeImgg input{
    margin-right: 5px;
}
.picbrowse{
    float: left;
}

.container_browsephoto{
    width: 100%;
    float: left;
    margin-top: 10px;
}

.browse_input{
   padding: .675rem .75rem;
}

.no_rec{
   text-align: center;
   font-size: 22px;
   font-weight: 600;
}

.pre_msg{
    width: 100%;
    float: left;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.teacher_detail_container{
    width: 100%;
    float: left;
}

.teacher_detail_left{
    width: 50%;
    float: left;
    text-align: left;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.teacher_detail_right{
    width: 50%;
    float: right;
    text-align: right;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.accordion{
    text-align: left;
    margin: 20px 15px;
}
.card{
    box-shadow: none!important;
}
.card-header {
    padding: 0;
}
.card-header .btn{
    position: relative !important;
    padding: .75rem 1.25rem;
    top: 0!important;
    left: 0!important;
    margin: 0!important;
    display: block;
    width: 100%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
     background-color: #e91e63;
     color: #fff;
}

.card-body{
   font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    font-size: 14px;
}
.loadd{
   position: absolute;
    float: left;
    width: 100%;
    /* border: 1px solid red; */
    height: 100%;
    top: -35px;
    left: 0;
/*    background: rgba(80,80,80,0.91);*/
    z-index: 3;
}
.loader_parent{
        top: 36%;
    position: absolute;
    left: 43%;
    z-index: 2;
}
.loader_parent_att{
        top: 32%;
    position: absolute;
    left: 43%;
    z-index: 2;
}
.loader_parent_ser{
    top: 43%;
    position: absolute;
    left: 43%;
    z-index: 2;
}









/* Responsive Design */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 479px) {
    .form-group {
        margin-bottom: 8px;
    }
    .formContent{
        padding: 0 5px;
    }
    .formContent label{
        margin-bottom: 4px;
    }
    .gridPdf li{
        /* width: 218px!important; */
        width: 188px !important;
        height: 125px;
    }
    .file_add_icon li{
      width: 118px !important;
      height: 105px;
      border: 0;
      margin:10px 4px; 
    }
    .file_add_icon li:first-child img {
    width: 55px;
}
    
    .photoGrid {
        padding: 0;
    }
    .photoGrid li{
        width: 47% !important;
        height: 140px !important;
    }
    .photoGrid li:last-child a{
        padding-top: 43px!important;
    }
    .buttonContainer .btn002{
        margin: 5px 3px;
    }
    .img_add_icon li:first-child a {
        padding-top: 24px !important;
        display: block;
    }
    .img_add_icon li:first-child img {
        width: 55px;
    }
    .photoGrid li:nth-child(4) span {
        padding-top: 28% !important;
        font-size: 46px!important;
    }

    .studentlist li{
        /* text-align: center; */
    }
    .studentlist li .profileimg{
        width: 120px;
        height: 120px;
        /* float: none;
        margin-right: 0; */
    }
    .routine_timetable{
        padding: 0 8px;
    }
    .routine_timetable .nav-tabs .nav-link{
        font-size: 12px;
    }
    .routinelist li .subjectsDiv small{
        font-size: 17px;
    }
    .routinelist li .subjectsDiv {
        width: 100%;
        margin-right: 0;
    }
    .routinelist li h3{
        margin-top: 0;
        margin-bottom: 3px;
        padding: 10px 0;
        font-size: 18px;
        text-align: left;
        /* display: block;
        float: left;
        width: 100%; */
    }
    .routinelist li .tag_section {
        /* display: block;
        float: left;
        width: 100%; */
        padding-bottom: 10px;
        font-size: 12px;
        text-align: left;
    }
    .section_Grid h3{
        font-size: 18px;
    }
    .section_Grid{
        padding: 15px 0px;
        height: 200px;
        display: inline-table;
    }
    .section_selection {
        font-size: 14px;
    }
    .time_tag{
        font-size: 15px;
    }


    .leftworks{
        width: 50%;
    }
    .rightworks{
        width: 50%;
        height: auto;
    }
    .rightworks img {
        max-width: 140px!important;
    }
    .subject_1{
        height: 70px!important;
    }
    .subject_2{
        height: 70px!important;
    }
    .subject_1 h3{
        font-size: 16px !important;
    }
    .subject_2 h3{
        font-size: 16px !important;
    }

    .routine_container{
        width: 140px;
        font-size: 16px;
    }
    .openCalender{
        width: 70%;
    }
    .past_work {
        width: 175px;
        text-align: right;
        line-height: 32px;
    }
    .past_work span{
        font-size: 16px;
        margin-right: -68px;
    }
    .studentlist li .custom-control{
        padding-left: 0;
    }
    .studentlist li .custom-control-label::before {
        left: 0;
        top: 10px;
    }
    .studentlist li .custom-control-label::after {
        left: -2px;
        top: 8px;
    }
    .selectall .custom-control-label::before {
        left: -35px !important;
        top: -4px!important;
    }
    .selectall .custom-control-label::after {
        left: -35px!important;
        top: -6px!important;
    }
    .selectall .custom-control-label{
        padding-left: 5px;
    }


}
@media (max-width: 575px) {
    .bgBottom{
         margin-top: -34px; 
        /*    z-index: 1;*/
    }
    .p-5 {
        padding: 1rem!important;
    }
    .md-form{
        margin-bottom: 1rem!important;
    }
    .wrap_content h1 {
        margin: 0px 0 20px;
        font-size: 28px;
    }
    .wrap_content{
        width: 100%;
        margin: auto;
/*        height: 750px;*/
        float: left;
    }
    .heightFullwraper{
/*        height: 100vh;*/
min-height: 720px;
    }
    .bgBottom p{
        font-size: 18px;
    }
    .textforgetpassword{
        margin-bottom: 10px;
        margin-top: -10px;
        font-size: 16px!important;
    }
    .wrap_content .btn001 {
        margin: 0 0 !important;
        height: calc(2.5rem + 10px)!important;
        font-size: 17px!important;
    }
    .profileGrid{
        margin: 10px 0;
        width: 90%;
    }
    .rowBox{
        margin-bottom: 0;
        min-height: 310px;
    }

    .section_Grid{
        width: 43%;
        padding: 15px 0px;
        margin: 10px 3px;
        height: 160px;
        display: inline-table;
    }
    .section_Grid h3{
        font-size: 16px;
        height: 35px;
    }
    .section_selection {
        font-size: 15px;
    }
    .time_tag{
        font-size: 11px;
    }
    .section_Grid2 {
        width: 85%;
    }
    .studentbdContent{
        min-height: 550px;
    }
    .innerbodycontent3{
        padding: 0;
    }
    .innerbodycontent{
        min-height: 590px;
        /* padding: 0; */
        z-index: 4;
        position: relative;
    }
    .studentGrid {
        width: 100%;
        margin: auto;
    }
    .profileStudent li{
        width: 15%;
        margin: 5px 1px;
    }

    .gridPdf li{
        width: 178px;
    }
    .photoGrid {
        padding: 0;
    }
    .photoGrid li{
        width: 99px;
        height: 99px;
    }
    .img_add_icon li{
        width: 33% !important;
        height: 105px !important;
    }
    .file_add_icon li{
            width: 33% !important;
    height: 105px !important;
    }
    .pdfimg{
       width: 85px; 
    }
    /* .photoGrid li:last-child a{
    padding-top: 26px;
    font-size: 38px;
    } */
    .img_add_icon li:first-child a {
        padding-top: 24px;
        display: block;
    }
    .img_add_icon li:first-child img {
        width: 55px;
    }
.file_add_icon li:first-child img {
    width: 80px;
}
    .photoGrid li:nth-child(4) span{
        padding-top: 24%;
        font-size: 36px;
    }
    .file_add_icon li:first-child a {
        padding-top: 14px;
    }
    .studentlist li{
        /* text-align: center; */
    }
    .studentlist li .profileimg{
        /* float: none;
        margin-right: 0; */
        width: 65px;
        height: 65px;
    }
    .studentlist li h3{
        font-size: 17px;
        margin:8px 0 0 0;
    }
    .studentlist li .tag_section{
        margin: 2px 0;
        font-size: 15px;
    }
    .routinelist li{
        text-align: center;
    }
    .routinelist li .subjectsDiv small{
        font-size: 15px;
        line-height: 18px;
    }
    .routinelist li .subjectsDiv {
        width: 148px;
        margin-right: 15px;
        height: 95px;
    }
    #sidebar .sidebar-header h3{
         font-size: 18px !important; 
    }
    /* .routinelist li h3{
    margin-top: 0;
    margin-bottom: 3px;
    padding: 10px 0;
    display: block;
    float: left;
    width: 100%;
    }
    .routinelist li .tag_section {
    display: block;
    float: left;
    width: 100%;
    padding-bottom: 10px;
    } */

    .grid_row_left {
        width: 24%;
        text-align: right;
    }


    .noticeGrid {
        width: 90%;
    }
    .tableGrid{
        width: 95%;
        padding: 15px;
    }
    .table th{
        font-size: 14px;
    }
    .table td{
        font-size: 12px;
    }

    .leftworks{
        width: 50%;
    }
    .rightworks{
        width: 50%;
        height: auto;
    }
    .rightworks img {
        max-width: 213px;
    }
    .subject_1{
        height: 107px;
    }
    .subject_2{
        height: 106px;
    }
    .subject_1 h3{
        font-size: 13px;
    }
    .subject_2 h3{
        font-size: 13px;
    }

    .grid_row_left{
        padding-top: 11px;
    }
    .grid_row_right{
        padding-left: 10px;
    }
    .grid_row_left h2{
        font-size: 37px;
    }
    .dayText {
        font-size: 18px;
    }
    .grid_row_sub{
        font-size: 14px;
    }

    .calender .date{
        width: 33px;
        height: 33px;
        line-height: 30px;
        font-size: 12px;
    }

    .boxdashbord .section_Grid {
        padding: 7px 0px;
    }
    .dashboard_parent .section_Grid h3{
        font-size: 19px;
    }
    .icon_tag{
        font-size: 36px;
    }
    .icon_tag img{
        width:  36px;
    }

    .routine_timetable{
        padding: 0 8px;
    }
    .wrappergrid_row_left{
        width: 23%;
        padding-top: 28px;
        height: 87px;
    }
    .wrappergrid_row_left h2{
        font-size: 42px;
        line-height: 28px;
    }
    .noticedetails {
        width: 93%;
    }

    .dashbordprofileGrid{
        padding: 9px 15px;
    }
    .dashbordprofileGrid h3 {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .switch_cls{
        position: relative;
    }
    .switch_cls .section_Grid {
        width: 100%;
        margin: 0px;
        position: absolute;
        right: 10px;
        top: 12px;
    }
    .switch_cls .section_Grid h3 {
        font-size: 14px !important;
        height: auto;
        margin-bottom: 0;
        display: none;
    }
    .switch_cls .icon_tag {
        font-size: 28px;
        float: right;
        margin-top: -60px;
    }

    .filter_select {
        width: 80px;
        height: auto;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .filter_select a {
        font-size: 23px;
        display: inline-block;
        margin: 0 5px;
    }
    .filterPopup .modal-dialog{
        max-width: 300px;
    }
    .timetable_container{
        width: 49%;  
    }
    .diary_container {
        width: 49%;
    }

.filterPopup .custom-control-label::after{
    background-size: 60% 60%;
    top: -3px !important; 
}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .wrap_content{
        width: 100%;
        margin: auto;
    }
    .section_Grid {
        width: 43%;
    }

    .section_Grid2 {
        width: 75%;
    }
    .section_Grid h3{
        font-size: 24px;
    }
    .section_selection {
        font-size: 15px;
    }
    .time_tag{
        font-size: 16px;
    }
    .studentGrid {
        width: 100%;
        margin: auto;
    }
    .gridPdf li{
        width: 237px;
    }
    .photoGrid {
        padding: 0;
    }
    .photoGrid li{
        width: 125px;
        height: 125px;
    }
    /* .photoGrid li:last-child a{
    padding-top: 36px;
    font-size: 38px;
    } */

    .img_add_icon li:first-child a {
        padding-top: 23px;
        display: block;
    }
    .img_add_icon li:first-child img {
        width: 80px;
    }
    .photoGrid li:nth-child(4) span{
        padding-top: 26%;
        font-size: 36px;
    }
    .file_add_icon li:first-child a {
        padding-top: 10px;
    }
    .noticeGrid {
        width: 90%;
    }

    .leftworks{
        width: 50%;
    }
    .rightworks{
        width: 50%;
        height: auto;
    }
    .rightworks img {
        max-width: 230px;
    }
    .subject_1{
        height: 115px;
    }
    .subject_2{
        height: 115px;
    }
    .subject_1 h3{
        font-size: 15px;
    }
    .subject_2 h3{
        font-size: 15px;
    }



}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
    .wrap_content{
        width: 100%;
        margin: auto;
        height: auto;
    }
    .heightFullwraper{
        height: 100vh;
    }
    .section_Grid {
        width: 42%;
    }
    .studentbdContent{
        min-height: 830px;
    }
    .innerbodycontent{
        min-height: 830px;
    }
    .studentGrid {
        width: 100%;
        margin: auto;
    }

    .gridPdf li{
        width: 208px;
    }
    .photoGrid {
        padding: 0;
    }
    .photoGrid li{
        width: 170px;
        height: 170px;
    }
    /* .photoGrid li:last-child a{
    padding-top: 58px;
    font-size: 38px;
    } */
    .img_add_icon li:first-child a {
        padding-top: 47px;
        display: block;
    }
    .img_add_icon li:first-child img {
        width: 80px;
    }
    .photoGrid li:nth-child(4) span{
        padding-top: 26%;
        font-size: 48px;
    }
    .file_add_icon li:first-child a {
        padding-top: 10px;
    }

}
@media (min-width: 768px) and (max-width: 799px) {
    .wrap_content{
        width: 100%;
        margin: auto;
        height: 100vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

    .studentbdContent{
        min-height: 600px;
    }
    .innerbodycontent{
        min-height: 600px;
    }
    .photoGrid {
        padding: 0;
    }
    .photoGrid li{
        width: 170px;
        height: 170px;
    }
    /* .photoGrid li:last-child a{
    padding-top: 58px;
    font-size: 38px;
    } */
    .img_add_icon li:first-child a {
        padding-top: 47px;
        display: block;
    }
    .img_add_icon li:first-child img {
        width: 80px;
    }
    .photoGrid li:nth-child(4) span{
        padding-top: 28%;
        font-size: 48px;
    }
    .file_add_icon li:first-child a {
        padding-top: 10px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
