 
.Content_inner {
    width: 100%;
    float: left;
    padding: 100px 0px;
}
.container {
    width: 1170px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.Container_registration_form {
    position: relative;
}
.registration_form {
    width: 541px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 0px 20px 8px;
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.96);
    padding: 20px 64px 50px;
    margin: auto;
    overflow: hidden;
}
.heading3 {
    color: rgb(196, 42, 29);
    font-size: 45px;
    line-height: inherit;
    text-transform: capitalize;
    font-family: Merriweather, serif;
    font-weight: 300;
    margin-top: 5px;
}
.home_parent_style {
    width: 100%;
    margin: 0px auto;
}
.shadow_style {
    box-shadow: rgb(232, 232, 232) 0px 0px 6px 3px;
    margin-bottom: 23px !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 59px;
    font-size: 14px;
    line-height: inherit;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    box-shadow: rgba(13, 13, 13, 0.016) 5px 0px 18px;
    letter-spacing: 0.9px;
    padding: 7px 12px 6px 21px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-image: initial;
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.exter_class1 {
    margin-bottom: 25px;
    box-shadow: rgb(232, 232, 232) 0px 0px 6px 3px;
    width: 99.5%;
}