
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/*HERE GOES TO FONT STYLE*/
@font-face {
    font-family: 'Gothambold';
    src: url('../fonts/gotham-bold-1361523260.eot'); /* IE9 Compat Modes */
    src: url('../fonts/gotham-bold-1361523260.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/gotham-bold-1361523260.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-bold-1361523260.woff2') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-bold-1361523260.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/gotham-bold-1361523260.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: bold;
}

@font-face {
    font-family: 'Gothammedium';
    src: url('../fonts/gotham-medium-1361523254_0.eot'); /* IE9 Compat Modes */
    src: url('../fonts/gotham-medium-1361523254_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/gotham-medium-1361523254_0.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-medium-1361523254_0.woff2') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/gotham-medium-1361523254_0.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/gotham-medium-1361523254_0.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 600;
}
/* button:focus, input:focus, optgroup:focus, select:focus, textarea:focus{
  outline: none !important;
} */
button:focus{
  outline: none !important;
}
button, html input[type=button], input[type=reset], input[type=submit] {
  outline: none !important;
}
body{
    margin: 0;
    padding: 0;

}
.home_body{
    background: url("../images/hero_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}


.heading1{
    color: #fff;
    font-size: 57px;
    font-family: 'Gothambold';
    font-weight: normal;
    line-height: 72px;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.heading2{
    color: #fff;
    font-size: 28px;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Gothammedium';
    font-weight: 600;
    letter-spacing: 2.5px;
}




a{
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
a.button1, .button1{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid #27a1e1;
    padding: 12px 35px;
    display: inline-block;
    text-decoration: none;
    background: #27a1e1;
    font-family: 'Gothammedium';
    font-weight: 600;
    letter-spacing: 3px;
    height: 51px;
    line-height: 25px;
}
a.button1:hover, .button1:hover{
    background-color: transparent;
    color: #fff;
    border: 2px solid #27a1e1;
}




.header{
    width: 100%;
    float: left;

}
.header_bg{
    width: 100%;
    float: left;
    height:100vh;
}
.top_content{
    width: 100%;
    float: left;
    margin-top: 50px;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}
a.media_link{
    display: inline-block;
    color: #fff;
    font-size: 24px;
    margin: 0 7px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: #3fb9c0;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    line-height: 45px;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
a.media_link:hover{
    color: #fff;
    background: #27a1e1;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
a.facebook_icon{
    font-size: 22px;
}

.Social_media{
    float: right;
    margin-left: 30px;
    margin-top: 45px;
}

.text_container{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    float: left;
}


.form_container{
    width: 100%;
    float: left;
    margin-top: 50px;
}

.input_container{
    width: 302px;
    height: 51px;
    display: inline-block;
    background: rgba(63,185,192,0.25);
    border: 0;
    margin: 0 15px;
}

.form-control{
    height: 51px;
    border-radius: 0;
    color: #fff !important;
    font-size: 20px;
    padding: 6px 25px;
    box-shadow: none;
/*    text-transform: uppercase;*/
    font-size: 16px;
    letter-spacing: 2px;
    background: transparent;
    border: 0;
    font-family: 'Gothammedium';
    font-weight: 600;
}

textarea.form-control {
    padding: 15px 22px 0;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
}
.form-control::-webkit-input-placeholder {
    color: #fff;
}
.form-control::-moz-placeholder {
    color: #fff;
}
.form-control:-ms-input-placeholder {
    color: #fff;
}
.form-control:-moz-placeholder {
    color: #fff;
}




/*Registration page style*/

/*.s_message {
        color: #28c87b !important;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }

    .e_message {
        color: #e73939 !important;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }*/
.s_message {
   background: #28c87b;
    color: #FFF !important;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 8px 10px 10px 10px;
    z-index:1000;
    width: 100%;
    font-weight: 700;
    clear:both;
    text-align: center;
}

.e_message {
    background: #e73939;
    color: #FFF !important;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 8px 10px 10px 10px;
    z-index:1000;
    width: 100%;
    font-weight: 700;
    clear:both;
    text-align: center;
}
.s_message a {
    color: #FFFFFF !important;
}
.e_message a {
    color: #FFFFFF !important;
}

.s_message_lr {
    color: #28c87b !important;
    margin-bottom: 1em;
    font-size: 14px;
    padding: 8px 10px 10px 10px;
    z-index:1000;
    width: 100%;
    font-weight: 600;
    clear:both;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.e_message_lr {
    color: #e73939 !important;
    margin-bottom: 1em;
    font-size: 14px;
    padding: 8px 10px 10px 10px;
    z-index:1000;
    width: 100%;
    font-weight: 600;
    clear:both;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.CreatAccount_bg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#52b7a5+19,3daaff+76 */
    /*background: rgb(82,183,165); /* Old browsers */
    /*background: -moz-linear-gradient(45deg, rgba(82,183,165,1) 19%, rgba(61,170,255,1) 76%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(45deg, rgba(82,183,165,1) 19%,rgba(61,170,255,1) 76%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(45deg, rgba(82,183,165,1) 19%,rgba(61,170,255,1) 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b7a5', endColorstr='#3daaff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-color: #aec4d2cc;
}

.heading {
    font-size: 25px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.Heading02 {
    font-family: 'Gothammedium';
    font-weight: 600;
    font-size: 19px;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.AccountContainer{
    width: 802px;
    margin:45px auto 220px;
    text-align: center;
    overflow: hidden;
}
.LogoContainer{
    margin-bottom: 40px;
    display: block;
}
.LogoContainer img{
    width: 150px;
}
.AccountContent{
    width: 100%;
    float: left;
}
.HeadingDiv{
    width: 100%;
    background: #192028;
    padding: 15px 0;
    font-family: 'Gothammedium';
    font-weight: 600;
}
.AccountformContent{
    padding: 35px 45px;
    width: 100%;
    float: left;
    background: #fff;
    text-align: left;
}
.container-form{
    width: 100%;
    float: left;

}
.full-col{
    width: 100%;
    float: left;
    margin-bottom: 23px;
}
.left-col{
    width: 47%;
    float: left;
    margin-bottom: 23px;
}
.right-col{
    width: 47%;
    float: right;
    margin-bottom: 23px;
}

.container-form .form-control {
    background-color: #fff;
    border: 2px solid #b4cbd6;
    border-radius: 0px;
    box-shadow: none;
    color: #6e6e6e !important;
    display: block;
    font-size: 18px;
/*    text-transform: capitalize;*/
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.42857;
    padding: 6px 12px 6px 20px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
input[type="text"],input[type="password"],input[type="email"],textarea {
       -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.container-form .form-control:focus{
    color: #191c1f;
}

.container-form .form-control::-webkit-input-placeholder {
    color: #6e6e6e;
}
.container-form .form-control::-moz-placeholder {
    color: #6e6e6e;
}
.container-form .form-control:-ms-input-placeholder {
    color: #6e6e6e;
}
.container-form .form-control:-moz-placeholder {
    color: #6e6e6e;
}

.label-form{
    color: #7d8f98;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.symbolcolor{
    color: #21abe2;
    display: inline-block;
    margin-right: 5px;
}

.SelectContainer{
    width: 100%;
    float: left;
    margin-right: 37px;
}

.dropselect{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/Drop_arrow.png) center right no-repeat;
    cursor: pointer;
}
.dropselect option{
    text-transform: capitalize;
    color: #666 !important;
    background: #fff;
}

.submitbuttonContainer{
    display: block;
    margin-top: 27px;
}
.submitButton{
    background: #3EABF9;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    padding: 15px 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 0;
    width: 100%;

    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.submitButton:hover{
    background: #248bd5;
}

.AdsContainer {
    padding: 0;
    margin: 0 0 30px;
    margin-bottom: 30px;
    width: 100%;
    float: left;
}
.Ph_Text {
    color: #7d8f98;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.Ads_Block {
    text-align: center;
    width: 223px;
    height: 300px;
    border: 2px solid #B8CAD8;
    position: relative;
    float: left;
    margin-right: 20px;
    cursor: pointer;
    display: inline-block;
    transition: all ease-in-out 0.3s;
}

.ActiveAd {
    margin-right: 20px;
    text-align: center;
    width: 223px;
    height: 300px;
    border: 2px solid #52B7A5 !important;
    position: relative;
    float: left;
    display: inline-block;
}
.Ads_Block:last-child{
    margin-right: 0px;
}

.CountPrice {
    display: block;
    color: #7d8f98;
    font-size: 16px;
    padding: 7px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #eaeaea;
}
.price_first_child{
    font-size: 20px;
    font-weight: 400;
}
.CountPrice_last{
    border-bottom:2px solid #ccc;
    width: 10px;
    height: 2px;
    margin: 30px auto 0;
    display: inline-block;
}
.CountLevel {
    display: block;
    background: #B8CAD8;
    text-transform: uppercase;
    font-size: 16px;
    color: #191919;
    padding: 8px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
}
.ActiveAd .CountLevel {
    background: #52B7A5;
    color: #fff;
}
.requiredText {
    display: block;
    float: left;
    text-align: center;
    width: 100%;
    color: #7d8f98;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.formFields input[type="checkbox"]:not(old), .formFields input[type="radio"]:not(old) {
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 28px;
    cursor: pointer !important;
}

.formFields input[type="checkbox"]:checked:not(old) + label {
    background-position: 0 -31px;
    cursor: pointer !important;
}
.formFields input[type="checkbox"]:not(old) + label {
    background: rgba(0, 0, 0, 0) url("../images/checksBox.png") no-repeat scroll 0 0;
    color: #7d8f98;
    display: inline-block;
    font-weight: normal;
    line-height: 34px;
    padding-left: 43px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer !important;
}


input[type=radio   ]:not(old){
    width: 28px;
    margin    : 0;
    padding   : 0;
    font-size : 2em;
    opacity   : 0;
}

input[type=radio   ]:not(old) + label{
    display      : inline-block;
    margin-left  : -20px;
    line-height  : 1.5em;
    font-size: 16px;
    cursor: pointer;
    color: #7d8f98;
}

input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 20px;
    height           : 20px;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 1px solid #b4cbd6;
    border-radius    : 30px;
    /*  background       : rgb(224,224,224); */
    vertical-align   : bottom;
}

input[type=radio   ]:not(old):checked + label > span{
    border           : 1px solid #b4cbd6;
    border-radius    : 30px;
}

input[type=radio]:not(old):checked +  label > span > span{
    display          : block;
    width            : 12px;
    height           : 12px;
    margin           : 3px;

    border-radius    : 30px;
    background       : #23C777;

}

.separator {
    border-bottom: 3px solid #52B7A5;
    display: block;
    width: 100%;
    float: left;
    margin: 25px 0;
}

.checkboxContainer {
    float: left;
    margin-left: -3px;
    margin-top: 5px;
}

.buttonSbmit {
    float: left;
    width: 100%;
    padding: 0 27px;
}


.LoginContainer {
    width: 435px;
    margin: 83px auto 220px;
    text-align: center;
    overflow: hidden;
}
.LoginformContent {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 38px 30px 15px;
    text-align: left;
    width: 100%;
}
.loginfooter {
    /* background: #f3f5f7; */
    padding: 24px 30px;
    float: left;
    width: 100%;
}
.loginfooterleft {
    float: left;
}
.loginfooter a {
    font-size: 14px;
    color: #7d8f98;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.loginfooterright {
    float: right;
}
.loginfooter a:hover{
    /* color: #52B7A5; */
     color: #0FB8F0;
}
.packages_section{
    text-align: center;
}
a.popUptext{
    color: #7d8f98;
    text-decoration: none;
}
a.popUptext:hover{
    color: #52B7A5;
}

.username_validation img {
    vertical-align: top !important;
    width: 20px;
    height: 20px;
}

.username_validation a {
    text-decoration: none;
}

.username_error {
    color: red;
}

.username_success {
    color: #49ca75;
}

/* ===================New Registration page style================ */

.registration_container{
    width: 100%;
    float: left;
}

.registration_content{
    width: 100%;
    float: left;
    display: inline-table;
}

.registration_content_left{
    width: 40%;
    float: left;
    /* background: #698690; */
    background: url("../images/analyzing-brainstorming-business.jpg") no-repeat top left;
    height: 100vh;
    position: relative;
    display: table;
    background-size: cover;
}
.registration_content_left::before{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 40, 55, 0.92);
  z-index: 0;

}
.registration_content_right{
    width: 60%;
    float: right;
    height: 100vh;
    position: relative;
    display: table;
}
.login_left{
  /* width: 50%; */
}
.login_right{
  /* width: 50%; */
}
.field_container{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.mobile_logo_floating{
  width: auto;
  position: absolute;
  left: 15px;
  top: 15px;
  display: none;
}
.floating_button_content{
  width: auto;
  position: absolute;
  right: 35px;
  top: 35px;
}
.floating_button_content a{
  display: inline-block;
  padding: 9px 25px;
  border: 1px solid #ABB0B9;
  background: transparent;
  color: #596377;
  font-size: 11px;
  text-decoration: none;

}
.floating_button_content a:focus{
  outline: none;
}
.floating_button_content a:hover{
  background:#0FB8F0;
  color: #fff;
}
.field_container_content{
    max-width: 550px;
    margin: auto;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.field_container_content .form-group{
  margin-bottom: 20px;
  position: relative;
}
.field_container_content .form-control{
    background: #fff;
    color: #333 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 14px;
    border: 1px solid #D4D9E2;
    transition: all 0.3s ease-in-out;
}
.field_container_content .form-control:focus{
  border: 1px solid #666;
}
.field_container_content .form-control::placeholder {
    color: #333!important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 14px;
}


.field_container_content .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}
.field_container_content .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #333;
}
.field_container_content .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #333;
}
.field_container_content .form-control:-moz-placeholder { /* Firefox 18- */
  color: #333;
}

.field_container_content .checkboxContainer {
    float: none;
    margin-left: 0px;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


.label_field{
    padding-left: 0;
    padding-right: 0;
    margin-left: -45px;
}
.termsConditonstext{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.brand_registration{
    padding: 10px;
    display: inline-block;
    position: absolute;
}
.brand_registration img{
    width:170px;
}
.text_container_registration{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.text_container_registration_content{
    max-width: 660px;
    margin: auto;
    text-align: center;
}

.text_container_registration h1{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size: 36px;
   /* text-shadow: 0px 2px 1px rgba(0,0,0,0.5); */
}
/* .text_container_registration h1 span{
    color:#fff;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
} */
.text_container_registration h2{
    color:#151515;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}
.text_container_registration p{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #2db8f9;
    line-height: 30px;
}

.iconfield{
    font-size: 21px;
    color: #b6b6b6;
}

.icon_lock_field{
    font-size: 29px;
    color: #b6b6b6;
}

.field_container_content h2{
    /* color: #2f2f2f; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 0.2px;
    /* font-size: 24px; */

    font-size: 28px;
    font-weight: 400;
    color: #434C5F;
}
.field_container_content .left-col, .field_container_content .right-col{
    margin-bottom: 0;
    width: 48%;
    position: relative;
}
.field_container_content .form-group .col-xs-10{
  padding-right: 0;
}

.newformFields input[type="checkbox"]:not(old), .newformFields input[type="radio"]:not(old) {
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 28px;
    cursor: pointer !important;
}

.newformFields input[type="checkbox"]:checked:not(old) + label {
    background-position: 0 -31px;
    cursor: pointer !important;
}
.newformFields input[type="checkbox"]:not(old) + label {
    background: rgba(0, 0, 0, 0) url("../images/checksBox-2.png") no-repeat scroll 0 0;
    color: #333;
    display: inline-block;
    font-weight: normal;
    line-height: 34px;
    padding-left: 43px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer !important;
}



.stageSTEP{
    color: #0FB8F0;
    margin: 15px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.stageSTEP a{
  color: #0FB8F0;
  border: 0;
  font-size: 13px;
  padding: 0 10px;
  cursor: pointer;
  background: transparent;
  letter-spacing: 0.5px;
}
.stageSTEP a:hover{
  background: none;
  color: #596377;
}
.nextbtn{
    background: #0FB8F0;
    color: #fff;
    padding:13px 45px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

    #step2{
        display: none;
/*        transition: all 0.7s ease-in;
        transform: translateX(-100px);*/

    }

.Form__error-label{
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: absolute;
    right: 0;
    font-size: 13px;
}
.Form__error-label a{
  color:red;
}
.Form__error-label label{
    font-weight: 400 !important;
}
.field_container_content .dropselect{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/Drop_arrow.png) center right no-repeat #f0f5f8 !important;
  cursor: pointer;
}

.submitreg_button{
  border: 0;
}

.inputerror{
    border: 1px solid #ff2643!important;
    position: relative !important;
    background:#fff url("../images/Fill 1.svg") 98% 14px!important;
    background-repeat: no-repeat !important;
}

.inputsuccess{
    border: 1px solid #49ca75!important;
    position: relative !important;
    background:#fff url("../images/sucessCheek.png") 98% 14px!important;
    background-repeat: no-repeat !important;
}

.nextbtn-inactive {
    opacity: .4 !important;
    cursor: default !important;
}

.reg_loader {
    display: none;
    position: absolute;
    top: 12px;
    width: 100%;
}
.reg_loader02 {
    display: none;
    position: absolute;
    top: 9px;
    width: 100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.pointsUl{
  padding-left: 80px;
  margin-top: 30px;
}

.pointsUl li{
  float: left;
  color: #fff;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-right: 10px;
  width: 45%;
  line-height: 34px;
  list-style: none;
  text-align: left;
  text-transform: capitalize;
}

.pointsUl  li::before {
  content: "\2713";  /* Add content: \2713 is the CSS Code/unicode for a bullet */
  color: #fff; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 2em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.moblOGO{
  display: none;
}

.tooltip_templates {
    display: none;
}
.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
	background: #FA4046;
	border: 3px solid #FA4046;
	border-radius: 6px;
	box-shadow: 3px 3px 2px 0 rgba(0,0,0,0.4);
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
	color: #FFFFFF;
	padding: 8px;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-arrow-background {
	display: none;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: #FA4046;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized.tooltipster-left .tooltipster-arrow-border {
	border-left-color: #FA4046;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized.tooltipster-right .tooltipster-arrow-border {
	border-right-color: #FA4046;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized.tooltipster-top .tooltipster-arrow-border {
	border-top-color: #FA4046;
}





@media (min-width: 1600px) and (max-width: 3000px){
    .text_container{
        padding-top: 150px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px){
    .container {
        width: 1030px;
    }
    .text_container{
        padding-top: 100px;
    }
    .navbar-brand > img {
        display: block;
        width: 150px;
    }
    .heading1{
        font-size: 50px;
    }
    .heading2{
        font-size: 24px;
    }
    a.media_link{
        width: 40px;
        height: 40px;
        font-size: 17px;
        line-height: 40px;
    }
    a.facebook_icon {
        font-size: 17px;
    }
    .form_container{
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        transform: scale(0.85);
    }

  .text_container_registration_content {
    max-width: 476px;
  }
  .text_container_registration h1{
      font-size: 24px;
  }
  .pointsUl {
    padding-left: 0;
    margin-top: 0;
}
.pointsUl li{
    width: 47%;
    font-size: 16px;
}

  .field_container_content {
    max-width: 490px;
  }
  .stageSTEP{
    margin: 9px 0;
  }
  .field_container_content .form-group {
    margin-bottom: 18px;
}
  .field_container_content .form-control{
    height: 40px;
  }

  .inputerror{
    background: #fff url("../images/Fill 1.svg") 98% 10px !important;
    background-repeat: no-repeat !important;
  }
  .inputsuccess{
      background:#fff url("../images/sucessCheek.png") 98% 10px!important;
      background-repeat: no-repeat !important;
  }
  .iconfield {
      font-size: 18px;
  }
  .icon_lock_field{
    font-size: 23px;
  }

}
@media (min-width: 992px) and (max-width: 1199px){
  .registration_content {
      width: 100%;
      float: left;
      display: block;
  }
  .registration_content_left {
    width: 100%;
    height: 768px;
    /* display: none; */
  }
  .registration_content_right {
    width: 100%;
    height: 100vh;
    /* background: url("../images/trasparent_bg.png") #698690 no-repeat top left; */
  }
  .field_container_content .form-control{
      border: 1px solid #D4D9E2;
      border-radius: 3px;
      padding: 15px;
      font-size: 14px;
      color: #596377;
      outline: 0;
      background: transparent;
  }
  .mobile_logo_floating img{
    width: 180px;
  }
 .stageSTEP{
   /* font-size: 16px;
   color: #596377;
   font-weight: 300; */
  }
    /*
  .iconfield{
    color: #868686;
  }
  .icon_lock_field{
    color: #868686;
  } */

  .nextbtn {
    /* background: #0A7FA5; */
  }
  .termsConditonstext{
    color: #000;
  }
  .termsConditonstext a{
    color: #fff;
  }
  .field_container_content h2 {
    font-size: 28px;
font-weight: 400;
color: #434C5F;
  }
  .Form__error-label label{
    color: #fff;
  }
  /* .iconfield {
    color: #fff;
}
.icon_lock_field {
    color: #fff;
} */
.moblOGO{
  display: none;
}
.Form__error-label label {
    color: red;
}
.username_success {
    /* color: #fff; */
}
.username_error {
    color: white;
}
.Form__error-label a{
    color: white;
}

.mobile_logo_floating{
  display: inline-block;
}
.login_left{
  display: none;
}
.brand_registration {
padding: 40px 0;
display: block;
position: absolute;
width: 100%;
text-align: center;
}
.brand_registration img {
    width: auto;
}


}

@media (min-width: 768px) and (max-width: 991px){
    .text_container {
        padding-top: 52px;
    }
    .heading1{
        font-size: 50px;
        line-height: 52px;
    }
    .heading2{
        font-size: 21px;
    }
    .form_container {
        margin-top: 31px;
    }
    .AccountContainer {
        width: 700px;
    }
    .Ads_Block{
        width: 190px;
    }
    .ActiveAd{
        width: 190px;
    }
    .CountPrice{
        font-size: 18px;
    }
    .registration_content {
        width: 100%;
        float: left;
        display: block;
    }
    .registration_content_left {
      width: 100%;
      height: 700px;
      /* display: none; */
    }
    .registration_content_right {
      width: 100%;
      height: 700px;
      /* background: url("../images/trasparent_bg.png") #698690 no-repeat top left; */
    }
    .field_container_content .form-control{
        border: 1px solid #D4D9E2;
        border-radius: 3px;
        padding: 15px;
        font-size: 14px;
        color: #596377;
        outline: 0;
        background: transparent;
    }
    .mobile_logo_floating img{
      width: 180px;
    }
    .stageSTEP{
      /* font-size: 16px;
      color: #596377;
      font-weight: 300; */
     }
    .field_container_content h2{
      font-size: 28px;
      font-weight: 400;
      color: #434C5F;
    }
    .mobile_logo_floating {
    display: inline-block;
}
    /* .iconfield{
      color: #fff;
    }
    .icon_lock_field{
      color: #fff;
    } */
    .nextbtn {
      /* background: #0A7FA5; */
    }
    .termsConditonstext{
      color: #000;
    }
    .termsConditonstext a{
      color: red;
    }
    .moblOGO{
      display: none;
    }
    .Form__error-label label {
    color: red;
}
.username_success {
    /* color: #fff; */
}
.username_error {
    color: white;
}
.Form__error-label a{
    color: white;
}

.login_left{
  display: none;
}
.brand_registration {
padding: 40px 0;
display: block;
position: absolute;
width: 100%;
text-align: center;
}


}

@media (min-width: 600px) and (max-width: 767px){
    .text_container {
        padding-top: 52px;
    }
    .heading1{
        font-size: 50px;
        line-height: 52px;
        margin-bottom: 15px;
    }
    .heading2{
        font-size: 21px;
        line-height: 28px;
    }
    .form_container {
        margin-top: 31px;
    }

    .AccountContainer {
        width: 580px;
    }
    .Ads_Block{
        width: 293px;
        height: auto;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
    }
    .ActiveAd{
        width: 293px;
        height: auto;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
    }
    .CountLevel{
        position: relative;
    }
    .CountPrice_last{
        margin: 21px auto 12px;
    }
    .registration_content {
        width: 100%;
        float: left;
        display: block;
    }
    .registration_content_left {
      width: 100%;
        height: 768px;
        /* display: none; */
    }
    .registration_content_right {
      width: 100%;
        height: 768px;
      /* background: url("../images/trasparent_bg.png") #698690 no-repeat top left; */
    }
    .field_container_content .form-control{
        border: 1px solid #D4D9E2;
        border-radius: 3px;
        padding: 15px;
        font-size: 14px;
        color: #596377;
        outline: 0;
        background: transparent;
    }
    .mobile_logo_floating img{
      width: 180px;
    }
    .stageSTEP{
      /* font-size: 16px;
      color: #596377;
      font-weight: 300; */
     }
    .field_container_content h2{
      font-size: 28px;
      font-weight: 400;
      color: #434C5F;
    }
    .mobile_logo_floating {
    display: inline-block;
}
    .field_container_content {
    max-width: 460px;
  }
  .label_field {
    padding-left: 0;
    padding-right: 15px;
    text-align: right;
}
    .field_container_content .form-group .col-xs-10 {
    padding-right: 0;
    width: 90%;
    padding-left: 0;
}
    /* .stageSTEP{
      color: #fff;
    } */
    .field_container_content h2 {
      font-size: 28px;
  font-weight: 400;
  color: #434C5F;
  }
    /* .iconfield{
      color: #fff;
    }
    .icon_lock_field{
      color: #fff;
    } */
    .nextbtn {
      /* background: #0A7FA5; */
    }
    .termsConditonstext{
      color: #000;
    }
    .termsConditonstext a{
      color: #fff;
    }
    .moblOGO{
      display: none;
    }
    .Form__error-label label {
    color: red;
}
.username_success {
    color: #fff;
}
.username_error {
    color: white;
}
.Form__error-label a{
    color: white;
}
.login_left{
  display: none;
}

.brand_registration {
padding: 40px 0;
display: block;
position: absolute;
width: 100%;
text-align: center;
}


}

@media (min-width: 480px) and (max-width: 599px){
    .header_bg{
        background-attachment: inherit;
        height: 700px;
    }
    .top_content{
        margin-top: 10px;
    }
    .navbar-brand > img {
        display: block;
        width: 180px;
        padding: 10px;
    }
    .Social_media {
        margin-left: 30px;
        margin-top: 25px;
    }
    .text_container {
        padding-top: 12px;
    }
    .input_container{
        margin: 0px 0 15px;
    }
    .heading1{
        font-size: 36px;
        line-height: 33px;
        margin-bottom: 15px;
    }
    .heading2{
        font-size: 21px;
        line-height: 28px;
    }
    .form_container {
        margin-top: 31px;
    }


    /*   Registration page style */
    .AccountContainer {
        /* width: 450px; */
          width: 95%;
    }
    .AccountformContent {
        padding: 35px 28px;
    }
    .left-col{
        width: 100%;
    }
    .right-col{
        width: 100%;
    }
    .Ads_Block{
        width: 293px;
        height: auto;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
    }
    .ActiveAd{
        width: 293px;
        height: auto;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
    }
    .CountLevel{
        position: relative;
    }

    .CountPrice_last{
        margin: 21px auto 12px;
    }
    .registration_content {
        width: 100%;
        float: left;
        display: block;
    }
    .registration_content_left {
      width: 100%;
      height: 768px;
        /* display: none; */
    }
    .registration_content_right {
      width: 100%;
      height: 768px;
      /* background: url("../images/trasparent_bg.png") #698690 no-repeat top left; */
    }
    .floating_button_content{
      text-align: right;
    }
    .floating_button_content .stageSTEP{
      display: none;
      position: relative;
      top: 80px;
    }
    .floating_button_content a{
      position: relative;
      top: 15px;
    }
    .stageSTEP a{
      padding: 0;
    }
    .field_container_content .form-control{
        border: 1px solid #D4D9E2;
        border-radius: 3px;
        padding: 15px;
        font-size: 14px;
        color: #596377;
        outline: 0;
        background: transparent;
    }
    .mobile_logo_floating img{
      width: 180px;
    }
    .stageSTEP{
      /* font-size: 16px;
      color: #596377;
      font-weight: 300; */
     }
    .field_container_content h2{
      font-size: 28px;
      font-weight: 400;
      color: #434C5F;
    }
    .mobile_logo_floating {
    display: inline-block;
}
    /* .iconfield{
      color: #fff;
    }
    .icon_lock_field{
      color: #fff;
    } */
    .nextbtn {
      /* background: #0A7FA5; */
    }
    .brand_registration {
    padding: 7px 0;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
}
    .brand_registration img{
      /* width: 100px;
      margin-top: -50px; */
    }
    .text_container_registration h1{
          margin: 30px 0;
          font-size: 30px;
    }
    .text_container_registration_content {
    max-width: inherit;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
    .field_container_content {
    max-width: 380px;
    margin: auto;
    text-align: center;
}
.label_field {
    padding-left: 0;
    padding-right: 15px;
    text-align: right;
}
.field_container_content .form-group .col-xs-10 {
    padding-right: 0;
    width: 90%;
    padding-left: 0;
}
.termsConditonstext{
  color: #000;
}
.termsConditonstext a{
    color: #fff;
}
.moblOGO{
  display: none;
}
.Form__error-label label {
    color: red;

}
#step3 .Form__error-label label {
    color: red;
    display: none !important;
}
.username_success {
    /* color: #fff; */
}
.username_error {
    color: white;
}
.Form__error-label a{
    color: white;
}
.login_left{
  display: none;
}
.pointsUl{
  padding-left: 0;
  display: inline-grid;
}
.pointsUl li{
  width: 100%;
}


}

@media (min-width: 200px) and (max-width: 479px){
    .header_bg{
        background-attachment: inherit;
        height: 700px;
    }
    .top_content{
        margin-top: 10px;
        text-align: center;
    }
    .navbar-brand {
        float: none;
        height: auto;
        padding: 0;
        font-size: 18px;
        line-height: 20px;
        display: block;
        text-align: center;
    }
    .navbar-brand > img {
        display: inline-block;
        width: 180px;
        padding: 10px;
    }
    .Social_media {
        float: none;
        margin-left: 0;
        margin-top: 25px;
        width: 100%;
        display: block;
    }
    .text_container {
        padding-top: 12px;
    }
    .input_container{
        margin: 0px 0 15px;
    }
    .heading1{
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 15px;
        letter-spacing: 1px;
        word-break: inherit;
    }
    .heading2{
        font-size: 18px;
        line-height: 28px;
    }
    .form_container {
        margin-top: 31px;
    }

    /*   Registration page style */
    .AccountContainer {
        width: 95%;
    }
    .formFields input[type="checkbox"]:not(old) + label {
      height: 34px;
    }
    .AccountformContent {
        padding: 35px 15px;
    }
    .left-col{
        width: 100%;
    }
    .right-col{
        width: 100%;
    }
    .Ads_Block{
        width: 173px;
        height: auto;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
    }
    .ActiveAd{
        width: 173px;
        height: auto;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
    }
    .CountLevel{
        position: relative;
    }
    .CountPrice{
        font-size: 18px;
    }
    .CountPrice_last{
        margin: 21px auto 12px;
    }
    .LoginContainer{
        width: 90%;
    }
    .loginfooterleft {
        float: none;
        display: block;
    }
    .loginfooterright {
        float: none;
        display: block;
    }
    .buttonSbmit {
        float: right;
        width: 100%;
    }
    .registration_content {
        width: 100%;
        float: left;
        display: block;
    }
    .registration_content_left {
      width: 100%;
        height: 768px;
        padding-bottom: 50px;
        /* display: none; */
    }
    .registration_content_right {
      width: 100%;
      min-height: inherit;
      height: 630px;
      /* background: url("../images/trasparent_bg.png") #698690 no-repeat top left; */
    }
    .floating_button_content{
      text-align: right;
      right: 5px;
      top: 15px;
    }
    .floating_button_content a{
      position: relative;
      top: 22px;
    }
    .floating_button_content .stageSTEP{
      display: none;
      position: relative;
      bottom: -80px;
    }
    .floating_button_content .stageSTEP a{
      padding: 0;
    }
    .field_container_content .form-control{
        border: 1px solid #D4D9E2;
        border-radius: 3px;
        padding: 15px;
        font-size: 14px;
        color: #596377;
        outline: 0;
        background: transparent;
    }
    .mobile_logo_floating img{
      width: 120px;
    }
    .stageSTEP{
      /* font-size: 16px;
      color: #596377;
      font-weight: 300; */
     }

    .mobile_logo_floating {
    display: inline-block;
}
    .field_container_content h2 {
      color: #434C5F;
      letter-spacing: 1px;
      font-size: 25px;
        font-weight: 400;
  }
    /* .iconfield{
      color: #fff;
    }
    .icon_lock_field{
      color: #fff;
    } */
    .nextbtn {
      /* background: #0A7FA5; */
      margin-left: 30px;
      padding:15px 53px;
    }
    .brand_registration {
    padding: 7px 0;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
}


    .brand_registration img{
      /* width: 100px;
      margin-top: -50px; */
    }
    .text_container_registration h1{
          margin: 30px 0;
          font-size: 30px;
    }
    .text_container_registration_content {
    max-width: inherit;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
    .field_container_content {
    max-width: 250px;
    margin: auto;
    text-align: center;
}
.label_field {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
}
.field_container_content .form-group .col-xs-10 {
    padding-right: 0;
    width: 80%;
    padding-left: 0;
}
.termsConditonstext{
  color: #000;
}
.termsConditonstext a{
    color: #fff;
}

    .reg_loader {
        top: 7px;
        left: 14px;
    }
    .reg_loader02 {
        top: 3px;
        left: 14px;
    }
    .moblOGO{
      display: none;
    }
    #step3 .Form__error-label label {
        color: red;
        display: none !important;
    }
    .Form__error-label label {
    color: red;
    display: block !important;
}

.username_success {
    /* color: #fff; */
}
.username_error {
    color: white;
}
.Form__error-label a{
    color: white;
}
.login_left{
  display: none;
}
.brand_registration{
  width: 100%;
  text-align: center;
  padding: 50px;
  position: relative;
}
.text_container_registration{
  position: relative;
  display: block;
}
.pointsUl{
  padding-left: 0;
  display: inline-grid;
}
.pointsUl li{
  width: 100%;
}


}
